[2019-09-14 06:13] #1153 closed

[2019-09-14 06:27] prakash-gangadharan commented on #1045
Hi @phpmods , @iMultis  and @knifesk , is this still an issue? How about now? if yes is there any recent debug_ids you have?

[2019-09-14 06:29] prakash-gangadharan commented on #1125
Hi @olissongs is this still an issue? How about now? if yes is there any recent debug_ids you have?

[2019-09-14 06:30] prakash-gangadharan commented on #1135
Hi @BluewintersL and @dudj , is this still an issue? How about now? if yes is there any recent debug_ids you have?

[2019-09-14 06:41] prakash-gangadharan commented on #1139
Hi @todx2, now this option has been moved under sandbox > Account setting > Account access > API access > Manage API credentials. Also am not facing any internal server error now hence closing this issue.

[2019-09-14 06:41] #1139 closed

[2019-09-17 06:30] prakash-gangadharan commented on #1200
**Sample Code snippet**:
[code]
Hi @Shigeki1120 , you can try adding Shipping Address along with phone number [ using $shippingAddress->setPhone("2025550110") ] or
try adding the phone number using $itemList->setShippingPhoneNumber("2025550110") method. Both the ways prefill the phone number during the guest checkout . Please refer the above code snippet and below screen shot for the reference.

*

[2019-09-17 10:32] prakash-gangadharan commented on #1008
Hi @lcaciobotariu , is this still an issue and do you have a recent debugIds?

[2019-09-17 10:36] prakash-gangadharan commented on #1125
Hi @olissongs can you check again advice whether this issue is still happening or not.

[2019-09-17 12:16] prakash-gangadharan commented on #1121
Hi @DingoDongBlueBalls, add the desired shipping address through ShippingAddress object to reflect the same in the 'Ship To' section in the payment review page during checkout.

**Sample Code block :**
[code]

**Paypal Review Page** :

![image](https://user-images.githubusercontent.com/13796434/65040535-39c19d80-d972-11e9-9ce6-07a1dd6386ad.png)

[2019-09-17 12:16] #1121 closed

[2019-09-17 21:27] marcelo2605 commented on #465
Hey guys. I need getting invoice_number from payment info. This is possible now?

[2019-09-18 07:24] #1200 closed

[2019-09-18 07:30] prakash-gangadharan commented on #1045
Hi @phpmods, @iMultis & @knifesk , am closing this issue since I didn't hear back from you guys. If you still see this time out issues around, feel free to reopen this issue with recent paypal debug_ids.

Thanks!

[2019-09-18 07:30] #1045 closed

[2019-09-19 08:11] prakash-gangadharan commented on #1173
Hi @smartbugax
For the Sample GetPayment Call below are the steps followed.
**Step 1**: Created Payment Using PayPal.
**Step 2**: Get Payment call, here the response has empty related_resources value.
This is expected since the payment was not executed yet.

Follow the below to get the related_resources value.
**Step 1** : [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/

[2019-09-19 08:26] prakash-gangadharan commented on #1234
Hi @Lightins & @feltkamptv
**Case 1:** related_resources value will be empty for the below scenario.

**Step 1**: Created Payment Using PayPal.
**Step 2**: Get Payment call, here the response has empty related_resources value.
This is expected since the payment was not yet executed.

**Case 2:** related_resources value will have sale object for the below scenario.

**Step 1** : [Define payment](ht

[2019-09-19 08:30] prakash-gangadharan commented on #1234
Hi @feltkamptv, Do you have any instances where the payment was approved and then executed but after calling the getPayment call it returns the empty related_resources value.

If you found any recent occurrence can you help us with the affected payid and paypal-debug-id?

Thanks!

[2019-09-19 09:43] prakash-gangadharan commented on #1178
Hi @yura-sutnuk,  is this still an issue? do you have any recent occurrences of this decline?

[2019-09-19 09:52] prakash-gangadharan commented on #1196
Hi @bichitra12, it looks like your question has been answered by @Sebi94nbg  through the above comment. Am closing this issue out and please reopen if you still have any concerns.

Thanks!

[2019-09-19 09:52] #1196 closed

[2019-09-19 09:56] prakash-gangadharan commented on #1198
Hi @loveleopots08, do you still facing this issue?

[2019-09-19 11:13] prakash-gangadharan commented on #1177
Hi @devidepl008, In your request the total, subtotal and tax value is wrong. It should be as below
item_price * quantity = subtotal
item_tax * quantity = overall tax
subtotal + overall tax = total

Below is the working sample request for your reference.
[code]

[2019-09-19 11:13] #1177 closed

[2019-09-19 11:30] prakash-gangadharan commented on #1159
Hi @akshaypitale, Do you have any newer occurrence of this issue? if yes can you help here with the respective paypal-debug-id?

Thanks!

[2019-09-19 11:34] prakash-gangadharan commented on #1135
Hi @BluewintersL / @dudj can you help here with your inputs?

[2019-09-19 11:36] prakash-gangadharan commented on #1126
Hi @MilaserdovNikita / @dudj  this issue still occurring? Please advice.

[2019-09-20 06:14] prakash-gangadharan commented on #1130
**Error Response** :
[code]

Hi @dhara15101991, Authorization which is in captured or expired state, cannot be voided.
Doc Link : https://developer.paypal.com/docs/api/payments/v1/#error-AUTHORIZATION_CANNOT_BE_VOIDED

[2019-09-20 06:14] #1130 closed

[2019-09-20 06:27] prakash-gangadharan commented on #1162
Hi @nyel-dev it looks like your query has been answered by @gpcaretti, hence closing this issue.

Thanks!

[2019-09-20 06:27] #1162 closed

[2019-09-20 06:34] prakash-gangadharan commented on #1140
Hi @curruwilla ,  do you still facing this issue?

[2019-09-20 06:36] prakash-gangadharan commented on #1142
Hi @jonjie0317, it looks like your query has been answered by @0xhtml . Hence closing this issue out. Feel free to reopen this if you are still facing any challenges going live.

[2019-09-20 06:36] #1142 closed

[2019-09-20 07:11] prakash-gangadharan commented on #1148
The state of the capture. The possible values are:

```pending```. The capture is pending.
```completed```. The capture has successfully completed.
```refunded```. The capture was fully refunded.
```partially_refunded```. The capture was partially refunded.
```denied```. PayPal has declined to process this transaction.

**Doc Link** : https://developer.paypal.com/docs/api/payments/v1/#authorizatio

[2019-09-20 07:11] #1148 closed

[2019-09-21 06:33] prakash-gangadharan commented on #1126
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:33] #1126 closed

[2019-09-21 06:34] prakash-gangadharan commented on #1135
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:34] #1135 closed

[2019-09-21 06:35] prakash-gangadharan commented on #1159
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:35] #1159 closed

[2019-09-21 06:35] prakash-gangadharan commented on #1178
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:35] #1178 closed

[2019-09-21 06:36] prakash-gangadharan commented on #1008
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:36] #1008 closed

[2019-09-21 06:36] prakash-gangadharan commented on #1125
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:36] #1125 closed

[2019-09-21 06:36] #1173 closed

[2019-09-21 06:37] prakash-gangadharan commented on #1234
It looks like this is no longer applicable, hence closing this issue out. Please feel to reopen if your still see this instances around.

Thanks!

[2019-09-21 06:37] #1234 closed

[2019-09-22 17:23] #1140 closed

[2019-09-23 06:57] prakash-gangadharan commented on #1137
Hi @ahmedelattar73, I can see that your query has been answered by @polnetwork, Hence closing this issue.

Thanks!

[2019-09-23 06:57] #1137 closed

[2019-09-23 07:22] prakash-gangadharan commented on #1150
@polnetwork , Please refer the below doc link to Process PayPal Payments.
https://developer.paypal.com/docs/api/quickstart/payments/

Thanks!

[2019-09-23 07:22] #1150 closed

[2019-09-23 10:14] prakash-gangadharan commented on #1132
Hi @nyel-dev, you can use Sale::get($saleId, $apiContext); to get the details of completed Sale Transaction.

**Sample Code**:
[code]

![image](https://user-images.githubusercontent.com/13796434/65417957-e68b9700-de18-11e9-8124-334235b804db.png)

[2019-09-23 10:14] #1132 closed

[2019-09-23 12:12] prakash-gangadharan commented on #1133
Hi @jonjie0317,
Try using the $itemList->setShippingAddress($shippingAddress), set this shipping object with the shipping data obtained from your website,  to get the same reflected into the buyer's review page during approval flow.

**Sample Code**:

[code]

**Review Page**:
![image](https://user-images.githubusercontent.com/13796434/65424442-31ada600-de29-11e9-895f-b56ab86e72bc.png)

[2019-09-23 12:12] #1133 closed

[2019-09-24 07:59] wlz321 commented on #704
1、open https://developer.paypal.com/docs/integration/direct/webhooks/simulator/#to-use-the-simulator-to-simulate-events
2、you will see "You cannot verify the simulator-generated events" in note part;
3、so. I use sandbox env to make some actions,such as create billing plan,  my hook url can also be verified 。

[2019-09-27 02:26] mrafi127 commented on #180
Why you people dont use

[code]
https://stackoverflow.com/questions/27740232/null-reference-with-recurring-paypal-payment-with-initial-amount

[2019-09-30 19:01] PaulBenabou commented on #1170
I have the exact same error on NodeJS.
I guess it's coming from the sandbox API of paypal.
Any news on this ?

[2019-10-01 19:11] prakash-gangadharan commented on #1014
Hi folks, I could see this issue was fixed here as a part of  V1.14.0   https://github.com/paypal/PayPal-PHP-SDK/commit/1df6286dc95039e1e2a41cd24ddcfe492ac20544 , hence closing this. Please revert back if it is still an issue.

Thanks!

[2019-10-01 19:11] #1014 closed

[2019-10-01 19:32] prakash-gangadharan commented on #1059
Hi @gaurangrajvir,  your pull request https://github.com/paypal/PayPal-PHP-SDK/pull/1060 for this issue was merged on on Apr 6, 2018. Hence closing this issue.

[2019-10-01 19:32] #1059 closed

[2019-10-02 15:24] prakash-gangadharan commented on #1267
Hi @mdeuerlein, do you still facing this issue?

[2019-10-02 15:27] prakash-gangadharan commented on #1265
Hi @Nicolas-Demailly , if it is still an issue can you help us here by providing the `PayPal-Debug-ID` for the recent occurrence?

Thanks!

[2019-10-03 05:12] prakash-gangadharan commented on #1098
Hi @rsomoza,  can you help us with the sample request and the example accented characters which you used in AgreementStateDescriptor note to check this.

[2019-10-04 01:38] prakash-gangadharan commented on #1293
@AO-IO, what is the exact error code/scenario you trying to do. Can you give some context?

[2019-10-04 01:43] prakash-gangadharan commented on #1292
@EmilSwe help me with the recent `PayPal-Debug-ID` and do you have any video to demonstrate this issue?

[2019-10-05 07:13] jhonny112 opened #1297 "i am redirecting to the paypal successfully but when i pay a payment it is not deducting from my account and shows successfully paid but payment is not deducted"
i have a issue when i redirect to paypal by redirect url and try to checkout with guest payment with my credit card no payment shows there and when i fill there form to pay no payment is decucting by my account and not get payment in my paypal account here is my code .

`<?php
// 1. Autoload the SDK Package. This will include all the files and classes to your autoloader
// Used for composer based

[2019-10-06 07:13] prakash-gangadharan commented on #1297
Hi @jhonny112 ,  can you help here with the ec-token which you used for the guest checkout or paypal debug id/PAYID for the create payment?

Thanks!

[2019-10-06 11:34] #1293 closed

[2019-10-06 14:28] AlbertoSinigaglia commented on #1297
Are you sure to have correctly implemented both first and second part of the payment iter?
the first one creates a payment, but it's the second that create the transaction
check:  [first field of this table](http://paypal.github.io/PayPal-PHP-SDK/sample/#payments)

[2019-10-06 14:30] AlbertoSinigaglia opened #1298 "Account personal and account business working like they're the same"
my issue is about the sandbox account... what's the difference between personal and business? because if i ''pay'' somethig, in both accounts the total is decreased, so or i'm doing something wrong, or i've not understand what's the meaning of the two account

[2019-10-06 14:40] AlbertoSinigaglia commented on #1298
oh, my fault, seems like chrome incognito use the same session, so i can't be logged in both in personal and business account

[2019-10-06 14:40] #1298 closed

[2019-10-06 16:34] rossaddison commented on #1290
Can you not just try assigning a session variable as in the following code:

                       $patchRequest = new PatchRequest();
                       $patchRequest->addPatch($patch);
                       $createdPlan->update($patchRequest, $apiContext);
                       ......$SESSION variable  = $createdPlan->getId();
                       $patchedPlan = Plan::get($createdPlan->

[2019-10-07 00:55] jcardussi commented on #1172
Anyone?

[2019-10-07 01:16] jcardussi commented on #1125
I wish people would post their solution. I am having the same issue.

[2019-10-07 07:45] prakash-gangadharan commented on #1125
Hi @jcardussi , is this still an issue? can you give me more context on this?

[2019-10-07 07:47] prakash-gangadharan commented on #1172
@minivetsystem and @jcardussi , can you guys help here with the paypal-debug-id to check this further?

[2019-10-07 08:20] jcardussi opened #1299 "Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/billing-agreements"
I got all the way to creating an agreement and got this error:

PayPal\Exception\PayPalConnectionException: Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/billing-agreements/. in C:\xampp\htdocs\my_php\vendor\paypal\rest-api-sdk-php\lib\PayPal\Core\PayPalHttpConnection.php:207 Stack trace: #0 C:\xampp\htdocs\my_php\vendor\paypal\rest-api-sdk-php\lib\PayPal\Tra

[2019-10-07 10:59] jcardussi commented on #1172
Where will I find that?

[2019-10-07 11:02] jcardussi commented on #1125
I posted it as a new issue since I thought my details would get lost this far down a post. The link to all my details is here:

https://github.com/paypal/PayPal-PHP-SDK/issues/1299

[2019-10-07 23:45] jcardussi commented on #1299
I printed more out in hopes that someone can see what is wrong:

$plan =
{ "id": "P-8A057434G5360803RHRPHZ6A" }

$agreement =
{ "name": "Base Agreement", "description": "Basic Agreement", "start_date": "2019-06-17T9:45:04Z", "plan": { "id": "P-8A057434G5360803RHRPHZ6A" }, "payer": { "payment_method": "paypal" }, "shipping_address": { "line1": "111 First Street", "city": "Saratoga", "state": "CA",

[2019-10-08 06:50] prakash-gangadharan commented on #1299
@jcardussi, what is the merchant email id did you used and help me with the time frame when you executed these call.

[2019-10-08 09:43] prakash-gangadharan commented on #1128
Hi @christiantigre, you can set tax through the below object
transactions array
	-> transaction object
	-> item_list object
	-> items array
	-> item Object
	-> tax string

Refer the Doc Link : https://developer.paypal.com/docs/api/payments/v1/#payment_create

**Sample Code** :
[code]

[2019-10-08 09:49] #1128 closed

[2019-10-08 11:21] prakash-gangadharan commented on #1292
@EmilSwe,  can you help here with your answers for the above required information?

[2019-10-08 19:02] prakash-gangadharan commented on #1098
Hi @rsomoza,

Am using **PayPal-PHP-SDK 1.14.0** with **PHP 7.3.10**. I used accented characters in AgreementStateDescriptor note and could see that the billing agreement has been suspended successfully. Even I tried with the same request via postman and I got successful response.

**Sample Code used**:
[code]
Please feel free to reopen this, if this is still an issue for you.

Thanks!

[2019-10-08 19:02] #1098 closed

[2019-10-09 03:43] jcardussi commented on #1299
What email are you referring to? My live merchant email ID? Or the sandbox merchant ID? Neither are referred to in any of the code. And the time frame is today. I am rerunning them every single day in hopes that I can get it running. My program is done and waiting to be sold based on being able to sell it.

[2019-10-09 04:38] jcardussi commented on #1299
Here is the answer: https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing

It prints out the actual error. Why is this not in the sample code? It would have saved me days of digging.

[2019-10-09 06:05] jcardussi commented on #1299
For the record: My problem was with the start up date (has to be later than now).

[2019-10-09 06:06] prakash-gangadharan commented on #1299
@jcardussi, so you got the `paypal-debud-id` now and can you please help me with that? and I asked the sandbox merchant ID for which you have created the client-id and secret.

[2019-10-09 06:12] jcardussi commented on #1299
If I post it here, it will be available to the world and it includes my paypal sign in ID since I cannot change it.

[2019-10-09 16:55] joanson opened #1301 "Developer API Reference links not redirecting to the intended page"
### General information

* SDK/Library version: 1.14.0
* Environment: Sandbox
PayPal-Debug-ID` values: NA
* Language, language version, and OS: php 7.3.10

### Issue description

links to Developer API Reference in the webhook samples is not working and it always redirecting to REST APIs Get Started Page
For example : https://github.com/paypal/PayPal-PHP-SDK/blob/647c8c49bc40a2a5fb7c76d2dfc5a9c6ee

[2019-10-09 17:49] jcardussi commented on #1299
This code is so much better than what is in the sample code:

try {
    $payment->create($apiContext);
} catch (PayPal\Exception\PayPalConnectionException $ex) {
    echo $ex->getCode(); // Prints the Error Code
    echo $ex->getData(); // Prints the detailed error message
    die($ex);
} catch (Exception $ex) {
    die($ex);
}

I dropped it in and it gave a much better error message.

[2019-10-09 18:51] prakash-gangadharan commented on #1299
@jcardussi, did you manage to find what is the flaw with your request? or still you facing any challenges?

[2019-10-09 20:59] jcardussi commented on #1299
The flaw was my start date was not in the future. This bug is solved.

[2019-10-10 05:04] #1299 closed

[2019-10-10 20:19] Sebi94nbg commented on #1290
No, a SESSION variable is unfortunately no solution since the webhook does not know this variable and the user may not click on "return to merchant / shop".

[2019-10-10 23:17] marcelo2605 opened #1303 "Changing Landing Page Type to Billing not working on production"
I generated a web profile to both sandbox and production versions. The only two config are:

[code]

I checked and that infos are stored in both profiles. Sandbox redirect to Billing landing page, but production still redirect to Login landing page.

Any idea what could causing this error?

[2019-10-11 05:36] prakash-gangadharan commented on #1303
Hi @marcelo2605,  do you have the impacted ec-token?

[2019-10-11 07:34] prakash-gangadharan commented on #1273
Hi @Meatballsl, to update a billing plan, it should be in `CREATED` state. If you try to patch a plan when the state is `ACTIVE` you will get the below error.

[code]

[2019-10-11 10:34] marcelo2605 commented on #1303
Hey @prakash-gangadharan I made another test: Here is the generated URL: https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-02Y234243J582373D. This is what you ask?

[2019-10-11 10:52] lzw012 commented on #1107
$signatureVerification->setWebhookId('**your Webhook ID**');

[2019-10-11 13:53] prakash-gangadharan commented on #1272
Hi @mcance, is this still an issue and if it is yes please revert back.

[2019-10-11 14:14] prakash-gangadharan commented on #1268
Here is the wikipage for going live and you need to set the mode to "live".
https://github.com/paypal/PayPal-PHP-SDK/wiki/Going-Live

And below is the link to File based Configurations:
https://github.com/paypal/PayPal-PHP-SDK/wiki/File-based-Configurations

Follow the steps given above. If you still facing any challenges, Please revert us back.

Thanks!

[2019-10-11 14:15] prakash-gangadharan commented on #1269
Hi @buttflattery,
Here is the wikipage for going live and you need to set the mode to "live".
https://github.com/paypal/PayPal-PHP-SDK/wiki/Going-Live

And below is the link to File based Configurations:
https://github.com/paypal/PayPal-PHP-SDK/wiki/File-based-Configurations

Follow the steps given above. If you still facing any challenges, Please revert us back.

Thanks!

[2019-10-11 14:19] prakash-gangadharan commented on #1267
Hi @mdeuerlein, am closing this issue out, please feel free to reopen if this is still an issue and help us with the recent debug ids.

[2019-10-11 14:19] #1267 closed

[2019-10-11 14:25] mcance commented on #1272
Yes. We never solved the problem, wehooks refused to work whatever was tried.

Currently update invoice status using a request to getInvoiceDetails() for all our outstanding. Far rather use the webhook.

Any help would be appreciated.

[2019-10-11 14:28] prakash-gangadharan commented on #1272
@mcance, are you integrated with **PayPal-PHP-SDK** or the SOAP API?

[2019-10-11 14:37] prakash-gangadharan commented on #1265
Hi @Nicolas-Demailly, can you revert us back.

[2019-10-11 14:46] prakash-gangadharan commented on #1248
Hi @VirendraArekar, is this still an issue? Please revert us back with the recent occurrence.

[2019-10-11 14:49] prakash-gangadharan commented on #1247
Hi @s3w47m88 , if this not an integration issue with PayPal-Java-SDK, refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit your question for mercha

[2019-10-11 14:51] #1247 closed

[2019-10-11 14:59] mcance commented on #1272
The old SOAP service is still used to create our invoices but we use the newer REST service via the php API to create webhooks, see code refrenced above.

We are in the process of moving invoicing to the PHP API, but some legacy stuff is holding us back.

[2019-10-11 16:14] mcance commented on #1272
PayPal-Debug-ID? Maybe missing something, but never seen that in the response from the SOAP service.

Our hooks id is 2NG58773KX1763533. The relevant listener is registered and responding, (all in live mode, unable to switch to sandbox on our production servers).

Registered hooks;
INVOICING.INVOICE.PAID
INVOICING.INVOICE.REFUNDED
INVOICING.INVOICE.UPDATED

I just created an invoice (INV2-G5ZN-2VE

[2019-10-11 17:25] marcelo2605 commented on #1303
I will close this issue. I changed client and secret token, generated a new profile and the problem was fixed.

[2019-10-11 17:25] #1303 closed

[2019-10-11 18:25] prakash-gangadharan commented on #1221
@niravm91, the below API shows the available balance for a PayPal account.
https://developer.paypal.com/docs/classic/api/merchant/GetBalance-API-Operation-NVP/
However currently this is not feasible via PayPal-PHP-SDK.

[2019-10-11 18:25] #1221 closed

[2019-10-11 18:35] prakash-gangadharan commented on #1222
Hi @guldil, if you are trying to integrate with the paypal resk sdk, can you take a look at the below links

- [Process PayPal Payments ](https://developer.paypal.com/docs/api/quickstart/payments/)

Use _billing plans_ and _billing agreements_ to create an agreement for a recurring PayPal payment for goods or services.

- [Create Billing Plans ](https://developer.paypal.com/docs/api/quickstart/cre

[2019-10-11 18:49] prakash-gangadharan commented on #1272
@mcance , let us look into it and **2NG58773KX1763533** and is this live webhook-id?

[2019-10-11 19:32] prakash-gangadharan commented on #1187
Hi @jonjie0317, PHP sdk is an active project.

[2019-10-12 10:24] mcance commented on #1272
Yes that's the live Web Hook ID associated with our account.

[2019-10-12 10:25] mcance commented on #1272
Thanks for taking a look, let me know if you need anything further.

[2019-10-13 06:41] prakash-gangadharan commented on #1182
**Sample Code snippet**:
[code]
Hi @jonjie0317 , you can try adding Shipping Address along with phone number [ using $shippingAddress->setPhone("2025550110") ] or
try adding the phone number using $itemList->setShippingPhoneNumber("2025550112") method. Please refer the above code snippet and below response from the create payment call for your reference.

[code]

[2019-10-13 09:51] prakash-gangadharan commented on #1167
Hi @salvatore-esposito you should execute the payment after buyer approves it.
**Process PayPal Payments**: To create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/a

[2019-10-13 10:01] prakash-gangadharan commented on #1171
@daslicht, thank you for adding the answer to your query here.

[2019-10-13 10:01] #1171 closed

[2019-10-13 10:09] prakash-gangadharan commented on #1172
Hi @jcardussi, Hope the below link help you out to get the `PayPal-Debug-ID` and to understand your errors
https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing
Please let us know if you are facing any challenges.

[2019-10-13 10:12] prakash-gangadharan commented on #1172
@minivetsystem,@younkim,@Gelembjuk,@karamvirs & @GrzegorzWalewski, can you guys help here with the recent `PayPal-Debug-ID` to check this further?

[2019-10-13 10:31] MichaelBelgium opened #1304 "Paypal Item prices are correct on localhost, not live/staging server"
### General information

* SDK/Library version: 1.14.0
* Environment: sandbox
* `PayPal-Debug-ID` values: 87137f1a3b0
* Language, language version, and OS: PHP 7.2 Debian stretch

### Issue description
Initial issue was this error on my server:

`[13-10-2019 12:00:31] PayPal\Core\PayPalHttpConnection : ERROR: Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/paym

[2019-10-13 10:41] MichaelBelgium commented on #1304
Might be related to #1265

[2019-10-13 12:04] prakash-gangadharan commented on #1304
@MichaelBelgium,  can you add your code snippet here?

[2019-10-13 12:27] prakash-gangadharan commented on #1176
Hi @devidepl008
The `subtotal` should be the sum of each Item's -> `price` * `quantity`

subtotal = (Item1 -> price * quantity) + (Item2 -> price * quantity )+ ....

correct request :
[code]

[2019-10-13 12:33] prakash-gangadharan commented on #1174
Hi @goncharovln, can you add `PayPal-Debug-ID` of some recent occurrences of this issue to check this further?

[2019-10-13 12:36] prakash-gangadharan commented on #1258
@Nicolas-Demailly , this is still an issue? please revert back us with the recent `PayPal-Debug-ID` to check this further

[2019-10-13 12:40] MichaelBelgium commented on #1304
@prakash-gangadharan

[code]

[2019-10-13 14:05] MichaelBelgium commented on #1304
I found the issue. `$cartProduct->price` returned "0.5" localhost and on the server "0,5" (with comma). I believe this is the cause then. And i can blame locale settings

[2019-10-13 14:10] prakash-gangadharan commented on #1304
@MichaelBelgium ,so the round off issue resolved now in stage?

[2019-10-13 14:14] MichaelBelgium commented on #1304
It's not rounding it (or well partially), it's just the parsing of floats (by the locale) that screws up everything. Like "0,5" gets passed to `setPrice` and in the function [it set `$decimals` to 0 as it can't find a dot](https://github.com/paypal/PayPal-PHP-SDK/blob/master/lib/PayPal/Converter/FormatConverter.php#L56-L59). So everything after the comma gets cut, hence why it looks like it rounde

[2019-10-13 14:16] prakash-gangadharan commented on #1304
@MichaelBelgium, I believe you resolved the issue now, aren't you?

[2019-10-13 14:20] MichaelBelgium commented on #1304
I believe so, gotta use everywhere `number_format` 🙄

[2019-10-13 14:22] prakash-gangadharan commented on #1304
That sounds cool :thumbsup:

[2019-10-13 14:33] #1304 closed

[2019-10-13 14:48] prakash-gangadharan commented on #1230
Hi @iabdullahshahid, use **billing plans** and **billing agreements** to create an agreement for a recurring PayPal payment for goods or services.

- [Create Billing Plans  ](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#define-the-billing-plan-object)
- [Create Billing Agreements ](https://developer.paypal.com/docs/api/quickstart/create-billing-agreement/#)

Please refer t

[2019-10-13 20:23] jcardussi commented on #1172
I got the answer and posted it here:

https://github.com/paypal/PayPal-PHP-SDK/issues/1299#event-2701322856

[2019-10-14 05:43] goncharovln commented on #1174
hello @prakash-gangadharan , sorry I cannot. I suppose now it working fine.

[2019-10-14 05:43] #1174 closed

[2019-10-14 06:56] maticb opened #1305 "Payment received confirmation email"
### General information

* SDK/Library version:    "paypal/rest-api-sdk-php": "^1.14",
* Environment:  Prod
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Hello,

we have a payment implementation with this sdk, going roughly like this:
...
 $payment = new Payment();
...
 $payment->create($this->getApiContext());
...

This redirects to a confirmation page:

[2019-10-14 20:17] #1187 closed

[2019-10-14 20:18] #1182 closed

[2019-10-14 20:28] prakash-gangadharan commented on #1189
Hi @daslicht, I hope your query has been answered by @Sebi94nbg , if you still facing any challenges revert us back, closing this issue for now. Please feel free to reopen if you have any concerns.

Thanks!

[2019-10-14 20:28] #1189 closed

[2019-10-14 20:35] prakash-gangadharan commented on #1194
Hi @randomd00d can you help us with the recent occurrences, if this is still an issue?

[2019-10-14 20:37] prakash-gangadharan commented on #1199
Hi @kaanzgn, yes your are absolutely right that one should execute the payment after buyer approves it.
**Process PayPal Payments**: To create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://de

[2019-10-14 20:37] #1199 closed

[2019-10-14 20:41] prakash-gangadharan commented on #1210
Hi @harshalone,  hope you resolved your issue through Developer API Reference link, if you still facing any blocks please revert us back.

[2019-10-14 20:41] #1210 closed

[2019-10-14 20:43] prakash-gangadharan commented on #1214
Hi @StylishSingh,  can you add the `PayPal-Debug-ID` of the latest instance of this issue ?

[2019-10-14 20:46] prakash-gangadharan commented on #1225
@do-web, do you have any recent instance of this issue?

[2019-10-14 20:57] prakash-gangadharan commented on #1288
Hi @danny-36, still its confusing do you have any video to demonstrate this issue?

[2019-10-14 21:03] prakash-gangadharan commented on #1249
Hi @DanielnetoDotCom , can you add the `PayPal-Debug-ID` for the recent instance of this issue?

[2019-10-14 21:06] prakash-gangadharan commented on #1169
Hi @yura-sutnuk,  can you give more context about this issue? its still unclear what your requirement is.

[2019-10-14 22:55] DanielnetoDotCom commented on #1249
7 months later, it is too late

But anyway, it was regarding my main account that accepts only BRL and does not accept USD

[2019-10-15 05:36] prakash-gangadharan commented on #1249
@DanielnetoDotCom, it is live issue or happening in the sandbox environment? can you help with `PayPal-Debug-ID`?

[2019-10-15 09:36] manukieli commented on #1246
I would like to do the same.
Redirect to paypal checkout with the option to set the language of the interface.

[2019-10-15 11:23] DanielnetoDotCom commented on #1249
I am not 100% if I tested it in the live enviroment, but I am 100% it happen in sandbox

I have a Brazilian account (BRL) and I create items with values in USD, and this error happen if I do not change the currency to BRL

[2019-10-15 14:55] sfarkas1988 opened #1306 "paypal transaction ID not available in API response"
### General information

* SDK/Library version: 1.14
* Environment: Sandbox*

### Issue description
Hi, I expect, when doing a payment transaction with this code http://paypal.github.io/PayPal-PHP-SDK/sample/doc/payments/ExecutePayment.html, the result (`$result = $payment->execute($execution, $apiContext);`) should contain the marked transaction ID:

![image](https://user-images.githubusercontent

[2019-10-16 06:06] prakash-gangadharan commented on #1273
@Meatballsl, If the plan’s state is "CREATED"，below is the sample code to update **merchant-preferences**'s return_url

[code]

[2019-10-16 06:06] #1273 closed

[2019-10-16 06:10] #1167 closed

[2019-10-16 06:12] #1172 closed

[2019-10-16 06:12] #1176 closed

[2019-10-16 06:14] #1222 closed

[2019-10-16 06:15] #1230 closed

[2019-10-16 06:16] #1268 closed

[2019-10-16 06:17] #1269 closed

[2019-10-16 10:31] prakash-gangadharan commented on #1306
`Seller Txn id` : **69N75431FJ168181B**

`Received From` : Sandor Farkas - something0815@**masked **.com [buyer]
`Paid To` : Test Buyer - ia-buyer@**masked **.de [seller]

Hi @sfarkas1988, below is your execute payment response and you can find the txn id under related_resources -> sale -> id.

[code]

The id for which you attached the screen shot is buyer side transaction id.

regards,

[2019-10-16 11:08] buttflattery commented on #1269
I was just doing something stupid I had it done, thanks or the concerns @prakash-gangadharan

[2019-10-16 12:56] prakash-gangadharan commented on #1288
@danny-36 , below is the screen shot of sample paypal checkout review page. When buyer click continue button the payment was approved by the buyer.

![image](https://user-images.githubusercontent.com/13796434/66921259-6a185c80-f042-11e9-86b4-ad2264c2084e.png)

[2019-10-16 15:18] prakash-gangadharan commented on #1253
Hi @MOWebCreation, to **Process PayPal Payments** / create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment)

After executing t

[2019-10-16 15:18] #1253 closed

[2019-10-16 18:29] prakash-gangadharan commented on #1240
Hi @blpraveen, you can simply add query string parameter in the return url while creating the payment. The same you can see it in the return URL to execute the payment after buyer approving it.
Refer attached screenshot:
![image](https://user-images.githubusercontent.com/13796434/66947599-cd20e800-f070-11e9-9305-0d303bfdd02a.png)

[2019-10-16 18:33] prakash-gangadharan commented on #1240
@blpraveen , you can also set custom filed  during create payment request and the same has been returned in the execute payment response.

[code]

[2019-10-16 18:33] #1240 closed

[2019-10-16 18:42] prakash-gangadharan commented on #1192
Hi @phamloi7710,  can you give more context about this issue?

[2019-10-16 18:53] prakash-gangadharan commented on #1156
Hi @andrewwommack ,
The state of the payment, authorization, or order transaction. Value is:

- `created`. The transaction was successfully created.
- `approved`. The customer approved the transaction. The state changes from `created` to `approved` on generation of the `sale_id` for sale transactions, `authorization_id` for authorization transactions, or `order_id` for order transactions.
- `faile

[2019-10-17 12:02] sfarkas1988 commented on #1306
@prakash-gangadharan Are you sure? What is the url where I would see the value from related_resources -> sale -> id as account owner?

[2019-10-18 08:07] mcance commented on #1272
Any progress?

[2019-10-21 07:25] prakash-gangadharan commented on #1272
@mcance ,
The old SOAP service is used to create your invoices via the APP-ID (APP-***masked***544) and
you used the newer REST service via the php API to create webhooks via the client-id (Ae00xohep..***masked***1Gob-).

To receive the `INVOICING.INVOICE.PAID`, you should create the invoices using the same client-id for which the webhook events were subscribed.

If you are using different client

[2019-10-21 07:50] prakash-gangadharan commented on #1306
@sfarkas1988, you could see these values in the execute payment response.

[2019-10-21 08:12] prakash-gangadharan commented on #1209
Hi all, if this still an issue, can you help with the recent `PayPal-Debug-ID`

[2019-10-21 08:13] prakash-gangadharan commented on #1192
@phamloi7710 , closing this issue for now, please revert us back if you have any challenges still.

[2019-10-21 08:13] #1192 closed

[2019-10-21 08:16] #1156 closed

[2019-10-21 08:18] prakash-gangadharan commented on #1225
@do-web, closing this for now, please revert us back if this still an issue.

[2019-10-21 08:18] #1225 closed

[2019-10-21 08:24] prakash-gangadharan commented on #1265
@Nicolas-Demailly, closing this issue for now, please revert us back if this is still an issue.

[2019-10-21 08:24] #1265 closed

[2019-10-21 08:42] mcance commented on #1272
Feared that was the case. As the app and client id are derived from the same account had hoped that they would be liked. Thanks for the clarification though.

[2019-10-21 08:48] prakash-gangadharan commented on #1272
@mcance, one merchant account may have multiple client-id/APP-ids since he may own different sites/stores.

[2019-10-22 05:04] prakash-gangadharan commented on #1252
@junardoclarit, **recipient_name** is not supported in Create Billing Agreement API.
The documentation is not up-to-date. We have noted this and will update the documentation accordingly.

[2019-10-22 05:04] #1252 closed

[2019-10-22 07:55] prakash-gangadharan commented on #1258
Hi folks can you give some more context on this issue?

[2019-10-22 08:02] prakash-gangadharan commented on #1131
Hi @devingDev, this is more like the question which is regarding the integration part. Please refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit

[2019-10-22 08:02] #1131 closed

[2019-10-22 08:07] kangarko opened #1307 "How to get customer name and email from webhook sale event?"
### General information
* Environment: live
* Version: 1.14.0

### Issue description
I am listening for webhook notification about a new sale. This is the data I am getting: https://pastebin.com/jfAbi2e9

I want to get the customers name and email. When I try to get the sale by the ID but I am getting just the sale data and I don't see the customer's name and email. My code:

![a](https://i.imgur.

[2019-10-22 08:08] prakash-gangadharan commented on #1307
@kangarko, can you add the `Paypal-debug-id` for this error?

[2019-10-22 08:16] kangarko commented on #1307
How can I get this?

[2019-10-22 08:17] kangarko commented on #1307
I changed the Payment to Sale and fixed the ID, now it returns a Sale but still there is no customer name:

![a](https://i.imgur.com/OZsW7Cm.png)

How can I get this + his email please?

![a](https://i.imgur.com/t4x0Tew.png)

[2019-10-22 08:19] prakash-gangadharan commented on #1307
@kangarko , let us take a look and is this live transaction id?

[2019-10-22 08:20] kangarko commented on #1307
Yes everything is live.

[2019-10-22 08:28] prakash-gangadharan commented on #1307
Can you try calling the Show payment details API
[Developer API Reference link](https://developer.paypal.com/docs/api/payments/v1/#payment_get)
[code]

[2019-10-22 10:49] prakash-gangadharan commented on #1280
Hi @W3b3r, this is more like the question which is regarding the integration part. Please refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit your

[2019-10-22 10:55] prakash-gangadharan commented on #1251
Hi folks, current REST sdks still using below `Billing Plans API` which is  deprecated.
https://developer.paypal.com/docs/api/payments.billing-plans/v1/#billing-plans

**Deprecation notice**:

-  The /v1/billing-plans endpoints are deprecated.
- Use the /v1/billing/subscriptions endpoints instead.
- For details, see [Subscriptions Integration](https://developer.paypal.com/docs/subscriptions/integr

[2019-10-22 11:14] mcance commented on #1272
Yup, our bad we created a new NVP/SOAP app via the dashboard that monitored web hooks for invoices but of course it is not the legacy app creating our invoices.

Penny would have dropped quicker if the legacy app had been listed in the Dashboard offering the option to enable webhooks etc, but understand SOAP, legacy etc.

We'll take the plunge and create an entirely new app and use v2 of the PHP S

[2019-10-22 11:14] #1272 closed

[2019-10-23 04:18] kangarko commented on #1307
Yes it's done through a website where you can buy small digital goods, then it redirects to paypal.

And? How can I get the customer's name and email?

[2019-10-23 07:52] prakash-gangadharan commented on #1255
Hi @dominhtri1995,
As detailed in https://github.com/paypal/PayPal-REST-API-issues/issues/34 and https://github.com/paypal/PayPal-PHP-SDK/issues/557, for the Billing Plans `max_fail_attempts` parameter here are some clarifications that may help you.

1. What kind of fail attempts? Is that about setup fee or regular payment?
	- It is only for subsequent payments, not for setup fee failure.
2. What

[2019-10-23 10:10] prakash-gangadharan commented on #1307
@kangarko,  checking on that

[2019-10-23 12:52] prakash-gangadharan commented on #1290
@Sebi94nbg Use _billing plans_ and _billing agreements_ to create an agreement for a recurring PayPal payment for goods or services.

- [Define the billing plan object](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#define-the-billing-plan-object)
- [Create and activate billing plan](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#create-and-activate-bi

[2019-10-23 12:55] prakash-gangadharan commented on #1290
https://developer.paypal.com/docs/api/subscriptions/v1/#subscriptions_create is the new API end point.
Currently we do not have any stipulated timeline to replace the deprecated endpoints with the newer one but it may be available in near future.

[2019-10-24 05:19] prakash-gangadharan commented on #1275
similar question : https://github.com/paypal/PayPal-PHP-SDK/issues/1251

[2019-10-24 05:19] #1275 closed

[2019-10-24 05:23] #1290 closed

[2019-10-24 05:32] prakash-gangadharan commented on #1283
@Aasif001, We hope @Sebi94nbg comments resolved your queries, if you still facing any challenges please revert us back.

[2019-10-24 05:34] prakash-gangadharan commented on #1277
Similar issue : https://github.com/paypal/PayPal-PHP-SDK/issues/1251

[2019-10-24 05:37] prakash-gangadharan commented on #1277
@wsfreelanzer, https://developer.paypal.com/docs/api/subscriptions/v1/ is the new API end point.
For rest sdks currently we do not have any stipulated timeline to replace the deprecated endpoints with the newer one but it may be available in near future.

[2019-10-24 05:37] #1277 closed

[2019-10-28 05:30] #1255 closed

[2019-10-28 05:31] #1283 closed

[2019-10-28 05:32] #1280 closed

[2019-10-28 05:45] #1306 closed

[2019-10-28 05:45] prakash-gangadharan commented on #1306
@sfarkas1988, please revert back if you still have any challenges.

[2019-10-28 05:48] prakash-gangadharan commented on #1288
@danny-36, please revert back if you still having the issue.

[2019-10-28 05:48] #1288 closed

[2019-10-28 05:50] #1141 closed

[2019-10-28 05:53] prakash-gangadharan commented on #1169
@yura-sutnuk, we looking forward for your further inputs.

[2019-10-28 18:03] yalmazkhalil opened #1308 "Paypal billing agreement - (Sale & Payments & Transactions) - Got confused."
Hello,

I`m using paypal recurring payments in my current project.
I already created billing plans, and the user can subscribe to the plans.

The only way I know to get transaction ID in order to create billing history for the user, is by searching for transactions history and get results from Paypal directly by the REST API:

`Agreement::searchTransactions('Agrrement ID', 'Dates from and to', 'ap

[2019-10-31 12:58] kangarko commented on #1307
@prakash-gangadharan and?

[2019-10-31 18:09] rorybot opened #1309 "getLastPaymentDate and agreement_transaction_lost - Needs better handling on failure"
### General information
* SDK/Library version: 1.14.0
* Environment: Production
* Language, language version, and OS: PHP environment on a CentOS server

### Issue description

This is just a frustration I've run into when trying to check agreement details on Billing Agreements. We need to look at agreements and find out if someone is paid up. If they're not, we need to capture the last time they

[2019-11-02 18:57] kangarko commented on #1307
@prakash-gangadharan 10 days and no answer for such a simple question?

[2019-11-03 09:08] prakash-gangadharan commented on #1307
I forwarded your query to our product team to check is there way to get  customer's name and email for the wps payments.
Since you are calling get sale method which internally uses [Show sale details](https://developer.paypal.com/docs/api/payments/v1/#sale_get)
as per docs it shows details for a sale by ID. Returns only sales that were created through the REST API.

[2019-11-03 09:14] prakash-gangadharan commented on #1307
@kangarko, below are the steps for the ideal way to **Process PayPal Payments** / create a PayPal payment using sdk.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment

[2019-11-03 14:41] kangarko commented on #1307
@prakash-gangadharan I absolutely have no idea how to proceed. I don't think I can create the payment. I am using webhooks to listen to existing ones.

Let me restate my question so we are clear:

How can I, using PayPal PHP SDK, get the payer name and email from the following transaction?
![a](https://i.imgur.com/LEAeCfl.png)

Thanks.

[2019-11-04 09:15] prakash-gangadharan commented on #1307
@kangarko, This is a transaction which is done via buynow paypal button (WPS payment - WEBSITE_PAYMENT_STANDARD). It is not feasible to get payer name and email for this transaction using PayPal PHP SDK.

[2019-11-04 09:24] prakash-gangadharan commented on #1248
@VirendraArekar, closing this issue, please revert us back if still you having this problem.

[2019-11-04 09:24] #1248 closed

[2019-11-05 10:04] prakash-gangadharan commented on #1309
@rorybot, can you mail you query to me using the below id?
pgangadharan at paypal dot com.
I may require your account information to discuss this issue with the respective product team.

[2019-11-05 10:05] prakash-gangadharan commented on #1309
help us with the agreement id for which you facing this issue.

[2019-11-06 09:32] prakash-gangadharan commented on #1249
@DanielnetoDotCom , can you help me with `debug_id` to check this further?

[2019-11-06 09:43] prakash-gangadharan commented on #1180
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

[2019-11-06 10:37] prakash-gangadharan commented on #1170
@martacronic can you help us with recent `paypal-debug-id`?

[2019-11-06 13:42] DanielnetoDotCom commented on #1249
@prakash-gangadharan where can I find the debug_id?

[2019-11-07 09:48] sucithrashanu commented on #1161
@jackellenberger

Try to clone the code via git in your terminal. Its coming with sample and test code.
Link[https://github.com/paypal/PayPal-PHP-SDK.git](url)

Thanks

[2019-11-07 09:55] sucithrashanu commented on #1166
@ggrig93
Can you please share us the recent PayPal-Debug-IDs to check further?

Thanks,

[2019-11-07 11:14] luciano88 opened #1310 "Test Authorize and Capture Process [response code 404]"
### General information

* SDK/Library version: 1.14.0
* Environment: Sandbox
* Language, language version, and OS: PHP7

### Issue description

I want to test authorize&capture process. I'm purchasing an item from a sandbox account (buyer) to another sandbox account (merchant). They belong to the same main Paypal account. And I'm getting this error when I try to capture an authorized payment:

"G

[2019-11-07 11:39] Trupti21 commented on #1246
@alisherazi50 , @manukieli ,
See the below screenshot. I hope it will helpful.
![Uploading Screenshot 2019-11-07 at 4.51.44 PM.png…]()

Thanks

[2019-11-07 14:30] prakash-gangadharan commented on #1249
@DanielnetoDotCom , refer this link to get the `Paypal-Debug-id`
https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing

[2019-11-07 14:46] prakash-gangadharan commented on #1181
PayPal-PHP-SDK internally uses our older deprecated billing plans and agreements API, which unfortunately does not support custom pass through merchant attributes.

If it is newer integration, the recommendation is to migrate to our [NextGen Subscription](https://developer.paypal.com/docs/subscriptions/) integration to get the benefits of lot more richer functionality including support of custom p

[2019-11-07 14:53] prakash-gangadharan commented on #1310
Hi @luciano88, can you help us with the `paypal-debud-id`?
Refer the below link to Understand your exception.
https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing

[2019-11-07 15:21] luciano88 commented on #1310
{"name":"INVALID_RESOURCE_ID","message":"The requested resource ID was not found","information_link":"https: //developer.paypal.com/docs/api/payments/#errors","debug_id":"eb5a66eaebd9f"}

[2019-11-08 09:55] prakash-gangadharan commented on #1310
Hi @luciano88,  you should pass the authorizationId in the Get call, not the paymentId
Refer this sample : https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/payments/GetAuthorization.php

Revert us back if you have questions.
[code]

[2019-11-08 12:34] manukieli commented on #1246
Screenshot link is broken.

[2019-11-09 12:59] kangarko commented on #1307
@prakash-gangadharan it is possible, I am using quaderno.io to handle my taxes and they are able to use your [API](https://i.imgur.com/eNWDNf7.png) well enough to get this information.

So how can I get this?

[2019-11-11 04:51] Trupti21 commented on #1246
@manukieli,
<img width="1680" alt="Screenshot 2019-11-07 at 4 51 44 PM" src="https://user-images.githubusercontent.com/46967620/68561754-f153c700-046c-11ea-91de-5e97ee8306de.png">

Thanks

[2019-11-11 07:33] manukieli commented on #1246
Thank you, but I want to select the language programmatically.
Not selected to the from the rendered website.

[2019-11-11 09:26] prakash-gangadharan commented on #1249
@DanielnetoDotCom, did you get a chance to retrieve the `Paypal-Debug-id` for the reported issue?

[2019-11-11 09:49] prakash-gangadharan commented on #1305
Hi @maticb

- We do not send emails to the merchant at Authorization/capture time for EC AS1 integrations.
- The reason behind it, is to not flood the merchant's inbox with the auth & capture emails.
- Merchants are expected to rely on IPNs for getting the status of the payment, else they can rely on the API response.

[2019-11-11 09:51] #1181 closed

[2019-11-11 09:53] maticb commented on #1305
@prakash-gangadharan , I assumed that, thank you for the explanation.

[2019-11-11 09:53] #1305 closed

[2019-11-11 10:00] #1310 closed

[2019-11-11 10:15] prakash-gangadharan commented on #1287
Hi @novaknole, if this not an integration issue with PayPal-PHP-SDK, refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit your question for merchan

[2019-11-11 10:47] prakash-gangadharan commented on #1243
@scofield-ua, Please refer this link : https://github.com/paypal/PayPal-PHP-SDK#paypal-checkout-v2 for your questionnaire.

[2019-11-11 12:09] DanielnetoDotCom commented on #1249
I will be honest, It is working now since I change the currency.

This issue **took 7 months to get answered**, which I think is unacceptable if you have a serious project.

To be able to do it, I will need to create all test environment again, and I am engaged in something else now.

sorry, for now, I can not take a look on it. next time, when I need to update something on PayPal I may return to

[2019-11-12 04:34] #1301 closed

[2019-11-12 04:43] prakash-gangadharan commented on #1249
@DanielnetoDotCom sorry the for the inconvenience/delay in response. Please reopen/revert us back if you find this instance of issue again.

[2019-11-12 04:43] #1249 closed

[2019-11-12 04:48] prakash-gangadharan commented on #1169
Hi @yura-sutnuk, this is more like the question which is regarding the integration part. Please refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submi

[2019-11-12 04:48] #1169 closed

[2019-11-12 05:14] prakash-gangadharan commented on #1127
Hi @amirgee007, here is the sample webhook for the event **BILLING.SUBSCRIPTION.CANCELLED**

[code]

yes you can get subscription_id when cancel the subscription in pp via webhook.

[2019-11-12 05:14] #1127 closed

[2019-11-12 07:28] prakash-gangadharan commented on #1155
Hi @hybmg57, to **Process PayPal Payments** / create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment)

Let us know if you are

[2019-11-12 08:28] sucithrashanu commented on #1154
@catthr
Yes It's the correct Behaviour given in the documentation.  Check this [Sample](https://github.com/paypal/PayPal-PHP-SDK/sample/invoice/CreateInvoice.php)

Thanks

[2019-11-12 09:52] sucithrashanu commented on #1231
@Androbin
Try this below code snippnet: for payment via paypal.

/ 3. Lets try to create a Payment
// https://developer.paypal.com/docs/api/payments/#payment_create
$payer = new \PayPal\Api\Payer();
$payer->setPaymentMethod('paypal');

$amount = new \PayPal\Api\Amount();
$amount->setTotal('1.00');
$amount->setCurrency('USD');

$transaction = new \PayPal\Api\Transaction();
$transaction->setAmount($

[2019-11-12 11:55] sucithrashanu commented on #1215
@msznaper
[Link
](https://developer.paypal.com/docs/limited-release/reference-transactions/#create-billing-agreement) is  a correct reference.

Thanks

[2019-11-13 00:23] Androbin commented on #1231
@sucithrashanu The example code works fine and my use case is covered. I opened this ticket because the `setPayerInfo` function does not work but should. Your comment is irrelevant for this issue.

[2019-11-13 06:13] sucithrashanu commented on #1231
@Androbin
Sorry for the inconvenience. Let me check and get back.

Thanks

[2019-11-13 07:20] sucithrashanu commented on #1231
Hi @Androbin, please refer to the Developer API Reference link for [[Create payment](https://developer.paypal.com/docs/api/payments/v1/#payment_create) ]

The [[payer_info](https://developer.paypal.com/docs/api/payments/v1/#definition-payer_info)] object does not have country_code parameter.

Hence it is throwing the below error when we set $payerInfo->setCountryCode("US");
**Error:**
{"name":"MAL

[2019-11-13 07:31] sucithrashanu commented on #1242
HI @Sebi94nbg
This is more like the question which is regarding the integration part. Please refer the below link for merchant technical support.

 [https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723](url)

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and

[2019-11-13 08:50] sucithrashanu commented on #1219
@AndManowar

Yes Your JSON creation for trail and (monthly/yearly)  subscription correct one.
Check the [BillingPlansFunctionalTestJSON](https://github.com/paypal/PayPal-PHP-SDK/blob/ff2a7f9c2ddc47a22cb7bb8a5b0bb97bd16bdd6f/tests/PayPal/Test/Functional/resources/BillingPlansFunctionalTest/testCreate.json)

Thanks

[2019-11-13 09:11] prakash-gangadharan commented on #1215
Hi @msznaper,currently PayPal-PHP-SDK does not support the end point /v1/billing-agreement/agreement-tokens which used to create REFERENCE TRANSACTION. It is not implement yet. It may be available in near future.

[2019-11-13 09:32] #1209 closed

[2019-11-13 09:40] #1243 closed

[2019-11-13 09:41] #1155 closed

[2019-11-13 09:57] prakash-gangadharan commented on #1281
@rodrigoguariento use _billing plans_ and _billing agreements_ to create an agreement for a recurring PayPal payment for goods or services.

- [Define the billing plan object](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#define-the-billing-plan-object)
- [Create and activate billing plan](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#create-and-acti

[2019-11-13 16:17] Androbin commented on #1231
@sucithrashanu Then why does the SDK have that `setCountryCode` function?

[2019-11-14 06:20] sucithrashanu commented on #1191
@lazytanuki
You can make use of the **getShippingAddress** from the class ItemList.
Ref the [Link](https://github.com/paypal/PayPal-PHP-SDK/blob/ff2a7f9c2ddc47a22cb7bb8a5b0bb97bd16bdd6f/lib/PayPal/Api/ItemList.php)

Thanks

[2019-11-14 06:39] sucithrashanu commented on #1266
@cbpatel17
Try this method. Navigate to this [Release](https://github.com/paypal/PayPal-PHP-SDK/releases/tag/1.14.0) and find **PayPal-PHP-SDK-1.14.0.zip**

Just Download and extract into your project folder.

Thanks

[2019-11-14 06:54] sucithrashanu commented on #1257
@jiteshtandel
Can you please share us the PayPal-Debug-IDs to check further?

Thanks

[2019-11-14 07:08] sucithrashanu commented on #1274
Hi @hendrikreimers ,

This is more like the question which is regarding the integration part. Please refer the below link for merchant technical support. 

[https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723](url)

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/a

[2019-11-14 09:12] sucithrashanu commented on #1261
@Majid-ali37
Check this sample [Payment Definition](https://github.com/paypal/PayPal-PHP-SDK/blob/ff2a7f9c2ddc47a22cb7bb8a5b0bb97bd16bdd6f/tests/PayPal/Test/Functional/resources/BillingPlansFunctionalTest/testCreate.json) for trail and regular subscription.

Thanks

[2019-11-14 09:56] prakash-gangadharan commented on #1231
@Androbin  `country_code` is one of the [Common object definitions ](https://developer.paypal.com/docs/api/payments/v1/#definitions)
The API request payload should be in line with the Developer API Reference.

And [Create payment](https://developer.paypal.com/docs/api/payments/v1/#payment_create) API doc clearly says, the [payer_info](https://developer.paypal.com/docs/api/payments/v1/#definition-p

[2019-11-14 10:30] MESWEB opened #1311 "Autoload PSR-4 failed"
### General information

* SDK/Library version: 1.0.1
* Environment: Sandbox
* `PayPal-Debug-ID` values:
* Language, language version, and OS: PHP Windows 10

### Issue description

I can't autoload files without composer.
**index.php**
[code]
**autoload.php**
[code]
With this autoloader all files has been successfully loaded with error:

I don't want use composer.

[2019-11-14 19:05] kangarko commented on #1307
@prakash-gangadharan so?

If anyone is reading this, I am very disappointed at how PayPal deals with their technical support. I contacted their email support but was directed here, which is a ghost town where no one is able to help. As you can see the person marked as Contributor does not know understand the API himself! Overall I can only recommend Stripe, I've had thousand times better experienc

[2019-11-14 23:18] #1231 closed

[2019-11-15 07:18] prakash-gangadharan commented on #1311
Hi @MESWEB , Did you tried this https://github.com/paypal/PayPal-PHP-SDK/wiki/Installation-Direct-Download ?

[2019-11-15 07:19] sucithrashanu commented on #1233
@neeraj24a
Can you share the recent PayPal-Debug-IDs to check further?

Thanks

[2019-11-15 07:31] sucithrashanu commented on #1208
@anishthecoder
Yes its possible to define which page to display as Landing page when user lands on the PayPal site for checkout.
Ref [Link](https://developer.paypal.com/docs/integration/direct/payment-experience/?mark=landing_page#flow-configuration)

Thanks

[2019-11-15 08:51] sucithrashanu commented on #1193
@WonlyCms
Do you still see this instances of this issue? If so Please provide latest PayPal-Debug-ID. Check  in the version 1.14.0 also.

You can use function **setHttpProxy** from PayPalHttpConfig class. Ref [LINk](https://github.com/paypal/PayPal-PHP-SDK/blob/ff2a7f9c2ddc47a22cb7bb8a5b0bb97bd16bdd6f/lib/PayPal/Core/PayPalHttpConfig.php)

Thanks

[2019-11-15 09:28] lmarkus commented on #1307
@kangarko , I looked at your integration on spigotmc.org, and you're using one of our older payment products, known as the "Buy Now" button.  These SDKs are wrappers for our more modern REST APIs, and as such don't have support for the older product types.

You have a couple of choices:
1) For an easy fix, you'll need to use IPN (Instant Payment Notifications). This was the original webhook-like p

[2019-11-15 09:39] #1307 closed

[2019-11-15 12:08] MESWEB commented on #1311
Hi @prakash-gangadharan everything sorted out. Now it's work like a charm. Thank you.

[2019-11-15 19:13] kangarko commented on #1307
Sorry, but SpigotMC is out of my control. It works like Google play. I am only a publisher my these products there and have 0 control over how they handle payments.

Neither of your solutions are thus applicable. I have tried IPN system before with Zapier but it failed since SpigotMC overtakes forcefully over it to listen to payments and give customers access to the products right after the purcha

[2019-11-16 06:08] #1311 closed

[2019-11-18 03:41] WonlyCms commented on #1193
Thanks for the guide, I used the SDK in my previous project, but now I am no longer responsible for that project.

[2019-11-18 05:13] lmarkus commented on #1307
You can still use IPNs through your account settings. (Independent of SpigotMC). When a payment hits your account PayPal should send you an IPN, if you've enabled it through here:  https://www.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-ipn-notify

[2019-11-18 05:20] lmarkus commented on #1307
All that said, this team specifically supports issues with the SDK, we're not equipped for full fledged merchant support on GitHub.  I would recommend you reach to our Merchant Tech Support specialists, ( http://paypal.com/mts ), as they will be the better team to help you find the right solution.

[2019-11-18 06:38] #1154 closed

[2019-11-18 10:04] #1191 closed

[2019-11-18 10:21] #1266 closed

[2019-11-18 10:22] #1208 closed

[2019-11-18 11:25] #1215 closed

[2019-11-18 11:36] #1161 closed

[2019-11-18 11:37] prakash-gangadharan commented on #1166
@ggrig93, closing this issue for inactivity, Please feel free to reopen with the latest instance.

[2019-11-18 11:37] #1166 closed

[2019-11-18 11:39] prakash-gangadharan commented on #1246
@alisherazi50 ,  we are checking on this and will revert back asap

[2019-11-19 05:33] prakash-gangadharan commented on #1246
@alisherazi50 you can use [Create web experience profile API]( https://developer.paypal.com/docs/api/payment-experience/v1/#web-profiles_create) and set locale_code as "US"
Sample code : https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/payment-experience/CreateWebProfile.php

Sample request

[code]

Sample create payment code with **experience_profile_id**

[code]

[2019-11-19 05:49] prakash-gangadharan commented on #1143
@0xhtml you can use [Create web experience profile API]( https://developer.paypal.com/docs/api/payment-experience/v1/#web-profiles_create) and set locale_code with your desired language
Sample code : https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/payment-experience/CreateWebProfile.php

Sample request

[code]

Sample create payment code with **experience_profile_id**

[code]

[2019-11-19 06:06] #1219 closed

[2019-11-19 06:08] #1257 closed

[2019-11-19 07:42] #1261 closed

[2019-11-19 07:44] #1233 closed

[2019-11-19 08:47] prakash-gangadharan commented on #1297
Hi @jhonny112, to **Process PayPal Payments** / create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment)

Let us know if you ar

[2019-11-19 13:56] 0xhtml commented on #1143
Already found this solution years ago. Anyway, thanks for giving a reply.

[2019-11-19 13:56] #1143 closed

[2019-11-19 16:03] kangarko commented on #1307
Thanks

Anyone wondering how I solved it, I used NVP on top of the webhook. Here's how: https://stackoverflow.com/a/53408834

[2019-11-20 05:08] prakash-gangadharan commented on #1217
Reference Comment : https://github.com/paypal/PayPal-PHP-SDK/issues/1286#issuecomment-524222300

[2019-11-20 05:10] #1246 closed

[2019-11-20 05:12] prakash-gangadharan commented on #1194
@randomd00d, can you help us with the recent `PayPal-Debug-ID`  for this issue?

[2019-11-20 15:59] #1297 closed

[2019-11-20 16:24] prakash-gangadharan commented on #1170
@martacronic , this is more like the question which is regarding to Order API . Please refer the below link for merchant technical support. 

https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit your

[2019-11-21 05:20] prakash-gangadharan commented on #1292
Closing this issue for inactivity, @EmilSwe feel free to reopen if this is still an issue.

[2019-11-21 05:20] #1292 closed

[2019-11-21 05:25] #1170 closed

[2019-11-21 05:27] #1281 closed

[2019-11-21 05:29] prakash-gangadharan commented on #1284
Hi @hodela, this is more like the question which is regarding the integration part. Please refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit you

[2019-11-21 05:31] #1287 closed

[2019-11-21 06:50] prakash-gangadharan commented on #1235
Hi @claudioshiver, do you have any recent occurrence, if yes please help us with the capture id and the refund txn id.

[2019-11-21 06:53] prakash-gangadharan commented on #1279
Hi @Giacomo92, for Exception Handling refer to the below link
https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing

Let us know if you face any challenges.

[2019-11-21 07:06] prakash-gangadharan commented on #1136
Hi @jonjie0317,  you should set the shipping address while creating the payment itself, refer to the below example.

Sample code:
[code]

[2019-11-21 08:54] #1274 closed

[2019-11-21 08:56] #1258 closed

[2019-11-21 08:59] #1242 closed

[2019-11-21 09:12] sucithrashanu commented on #1197
@bichitra12

The function `getMessage` for Display Error message. Check this location:`lib/PayPal/Api/Error.php`

Thanks

[2019-11-21 09:19] #1193 closed

[2019-11-21 09:27] sucithrashanu commented on #1146
@juragandotid
Can you elaborate the issue or Error message  you are getting or kindly share the PayPal-Debug-Id?

Thanks,

[2019-11-21 23:41] manian-kumaran commented on #1187
Is the whole PayPal no longer maintained?

[2019-11-22 06:13] prakash-gangadharan commented on #1187
@manian-kumaran are you looking for new integration?

[2019-11-24 11:26] Alwafaa123 opened #1312 "Sandbox and Live account, Payment not deducting from buyer account."
Sandbox and a live account having the same issue, we tried payment and we are getting the payment id and payer id, token id we are getting but not deducting the amount from the personal account. Please let me know what configuration I missed on the same.

![2019-11-24 (1)](https://user-images.githubusercontent.com/58136137/69493926-b6bb4700-0ece-11ea-864e-f080f97e62ae.png)
![2019-11-24](https://us

[2019-11-24 11:29] prakash-gangadharan commented on #1312
Hi @Alwafaa123, to **Process PayPal Payments** / create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment)

Let us know if you a

[2019-11-25 04:10] dylanmichaelryan opened #1313 "How to change Store Name on Checkout process?"
Hey,

how do i change the store name at the checkout process? Default one seems to be "John Doe's Test Store"..

i would really appreciate it if someone could help me with this!

thanks in advance

[2019-11-25 08:33] prakash-gangadharan commented on #1313
Hi @dylanmichaelryan
You can change the store name at the checkout process  through below steps,
- Login into Merchant account (sandbox.paypal.com)
- Select Account Setting
- Then select Business information under BUSINESS PROFILE
- Update the business name.

Screenshot:
![image](https://user-images.githubusercontent.com/13796434/69524496-2e9b7700-0f8c-11ea-9a28-d6a925cf6287.png)

[2019-11-25 09:08] prakash-gangadharan commented on #1228
Hi @SvanThuijl , Now the sample was fixed, please refer the below sample code.
https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/notifications/ValidateWebhookEvent.php

[2019-11-25 09:26] sucithrashanu commented on #1250
@gintares
if this still an issue, can you help with the recent PayPal-Debug-ID

Thanks

[2019-11-25 11:14] sucithrashanu commented on #1055
@markwillis82

It is working fine.Can you check the issue is resolved?

Thanks

[2019-11-25 16:05] aizaz-shahid opened #1314 "Got Http response code 403 when accessing https://api.sandbox.paypal.com/v1/payments/payment/"
### General information

* SDK/Library version: 1.14.0
* Environment: Sandbox
* `PayPal-Debug-ID` values: [debug_id] => f9a469bdca76c
* Language, language version, and OS: Laravel, Ubuntu18

### Issue description

[2019-11-26 02:16] observaInc commented on #1129
A short term workaround would be to just write your own sync class:
[code]
I might have missed something, but I noticed the start date and end date parameters are required. So you need a general idea of when the transaction occurred since they can't be more than 31 days apart.  Also, you'd probably want to pass these in to the method.

[2019-11-26 03:37] prakash-gangadharan commented on #1314
Hi @aizaz-shahid , can you help us with `PayPal-Debug-ID` for this issue?
Refer [Exception Handling](https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing) to understand your error.

[2019-11-26 06:03] viraladmin opened #1315 "resource is undefined and verificationStatus is always returning FAILURE"
I have two issues. I am using sandbox mode. My $verificationStatus is always returning FAILURE and $responseArray['webhook_event']['resource']['event_type']; always warns that resource is undefined.

    include '../../includes/db.class.php';
    require 'vendor/autoload.php';

    $stmt= $db->prepare('SELECT pp_public, pp_secret, pp_hook FROM api_config');
    $stmt->execute();
    $row = $stmt->

[2019-11-26 06:08] prakash-gangadharan commented on #1315
Hi @viraladmin, can you help us with `PayPal-Debug-ID` for this issue?
Refer [Exception Handling](https://github.com/paypal/PayPal-PHP-SDK/wiki/exception-%27PayPal%5CException%5CPayPalConnectionException%27-with-message-%27Got-Http-response-code-400-when-accessing) to understand your error.

[2019-11-26 07:00] viraladmin commented on #1315
Well I'd love to add the PayPal-Debug-ID but as is the case with all hings relating to the paypal API figuring it out is a nightmare. So I add the exception handling to my webhook and it ends up tossing even more errors in my error logs.

`Uncaught Error: Call to a member function create() on null`
`Undefined variable: payment`

I would guess thats because the webhook doesn't have any `$payment` s

[2019-11-26 09:39] prakash-gangadharan commented on #1315
@viraladmin, did you get a chance to refer this sample code?

[2019-11-26 09:44] aizaz-shahid commented on #1314
I have updated the details with debug id

[2019-11-26 11:31] prakash-gangadharan commented on #1314
@aizaz-shahid, Payment is created using the client-id : AZDxjDScFpQ*** Masked ***
f9a469bdca76c -> Payment is executed using the different client-id : AV0bnsJWAnNINmlEK7GT *** Masked ***

Since the client-Ids are different, i.e payment is created using one and executed through another client-id hence the below error is thrown

[code]

[2019-11-26 11:36] upendraalwafaa opened #1316 "Fund Amount Transfer Issue"
After payment the amount is not deducting from customer account or not transferring to integrated sandbox account.
Sir please can you help me.

![22](https://user-images.githubusercontent.com/32842147/69626658-81dff900-1062-11ea-90e5-322ec7f2684b.PNG)

[2019-11-26 11:38] prakash-gangadharan commented on #1316
Hi @upendraalwafaa, to **Process PayPal Payments** / create a PayPal payment below are the steps.

- [Define payment](https://developer.paypal.com/docs/api/quickstart/payments/#define-payment)
- [Create payment](https://developer.paypal.com/docs/api/quickstart/payments/#create-payment)
- [Execute payment](https://developer.paypal.com/docs/api/quickstart/payments/#execute-payment)

Let us know if y

[2019-11-26 11:50] prakash-gangadharan commented on #1316
Similar issue : https://github.com/paypal/PayPal-PHP-SDK/issues/1312

[2019-11-26 11:50] #1316 closed

[2019-11-26 12:08] upendraalwafaa commented on #1316
Thanks working perfect.

[2019-11-26 15:46] viraladmin commented on #1315
I simply have no idea where this code should go. I have tried all the following:

    try {
      $apiContext = new \PayPal\Rest\ApiContext(
        new \PayPal\Auth\OAuthTokenCredential(
          $pp_api,
          $pp_secret
        )
      );
    }  catch (PayPal\Exception\PayPalConnectionException $ex) {
      $myfile = fopen("newfile2.txt", "w") or die("Unable to open file!");
      $txt = $

[2019-11-26 16:05] viraladmin commented on #1315
My guess is its not returning any PayPal-Debug-ID because there is no error. $verificationStatus of "failure" isn't really an error its a proper response that it failed so the "try" is succeeding is just always a failure response. As for why he resource is undefined my guess it that would be because there is no ['resource'] defined in $responseArray['webhook_event']['resource']['event_type']; as i

[2019-11-27 05:46] #1313 closed

[2019-11-27 05:47] #1312 closed

[2019-11-27 05:53] #1284 closed

[2019-11-27 05:54] #1279 closed

[2019-11-27 06:03] #1136 closed

[2019-11-27 06:04] prakash-gangadharan commented on #1146
@juragandotid, is this still an issue?

[2019-11-27 06:04] #1194 closed

[2019-11-27 06:05] #1217 closed

[2019-11-27 06:07] prakash-gangadharan commented on #1235
Hi @claudioshiver, is this still an issue?

[2019-11-27 06:23] prakash-gangadharan commented on #1232
Hi @psilvaleo, this is more like the question which is regarding the Payflow Product. Please refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit y

[2019-11-27 06:26] prakash-gangadharan commented on #1198
@loveleopots08, if this still an issue, can you help with the recent `PayPal-Debug-ID`

[2019-11-28 06:46] #1250 closed

[2019-11-28 06:46] #1055 closed

[2019-11-28 08:32] prakash-gangadharan commented on #1145
@mavinothkumar , this is more like the question which is more regarding to Billing agreement Product flow. Please refer the below link for merchant technical support. 

https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport

[2019-11-28 09:04] prakash-gangadharan commented on #1163
Hi @michalsukiennik, Please refer this sample code which demonstrate how you can search all billing transactions.
https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/billing/SearchBillingTransactions.php

[2019-11-28 09:15] prakash-gangadharan commented on #1245
Hi @dnyaneshgetwebcare,
Refer these example code to check Billing Agreement payments details.

- [Get Billing Agreement](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/billing/GetBillingAgreement.php)
- [Search for Transactions](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/billing/SearchBillingTransactions.php)

[2019-11-28 09:20] prakash-gangadharan commented on #1203
Hi @toshex,
Refer these example code to check Billing Agreement payments details.

- [Get Billing Agreement](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/billing/GetBillingAgreement.php)
- [Search for Transactions](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/billing/SearchBillingTransactions.php)

[2019-11-28 09:20] prakash-gangadharan commented on #1245
Similar issue : https://github.com/paypal/PayPal-PHP-SDK/issues/1203

[2019-11-28 12:17] Nikhilchudasama commented on #956
when i fetched agreement details missing plan id on response, can any one help how to solve this issue in my billing agreement.
show in api details it come with this link https://developer.paypal.com/docs/api/payments.billing-agreements/v1/#billing-agreements_get
but PHP SDK agreement not come.
Thank for advance.

[2019-11-28 16:01] prakash-gangadharan commented on #956
@Nikhilchudasama , can you help us with the `Paypal-Debug-Id` ?

[2019-11-28 21:22] Sebi94nbg commented on #1203
Related and useful information: [Clarify the lifecycle of Billing Agreement and associated webhooks](https://github.com/paypal/PayPal-REST-API-issues/issues/105)

I also have one question regarding this work flow:

After point 6: `BILLING.SUBSCRIPTION.CREATED` webhook is sent.

How and when exactly do I handle payments? When the `BILLING.SUBSCRIPTION.CREATED` webhook is sent? When the `PAYMENT.SAL

[2019-11-28 21:48] Sebi94nbg commented on #1315
When I'm not blind, you simply forgot this line:

[code]

See [sample/notifications/ValidateWebhookEvent.php](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/notifications/ValidateWebhookEvent.php)

Please also make sure, that you're accessing those `$headers` correct, because I had sub arrays for example:

[code]

Try the following code and logic, which I've updated from mine to your

[2019-11-29 06:34] prakash-gangadharan commented on #1203
Use _billing plans_ and _billing agreements_ to create an agreement for a recurring PayPal payment for goods or services.

- [Define the billing plan object](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#define-the-billing-plan-object)
- [Create and activate billing plan](https://developer.paypal.com/docs/api/quickstart/create-billing-plan/#create-and-activate-billing-plan)

[2019-11-29 06:40] #1145 closed

[2019-11-29 06:41] #1163 closed

[2019-11-29 06:41] #1198 closed

[2019-11-29 06:42] #1245 closed

[2019-11-29 06:42] #1235 closed

[2019-11-29 06:43] #1232 closed

[2019-11-29 06:44] #1228 closed

[2019-11-29 10:59] Sebi94nbg commented on #1203
Ok, I already do all the points. Regarding the last point: Is this logic for handling the webhooks then fine?

[code]

[2019-12-03 10:56] mdeprezzo opened #1318 "Instrument declined - December 2019"
### General information

* SDK/Library version: 1.14.0
* Environment: live
* `PayPal-Debug-ID` values: 479c9d5bc73f3
* Language, language version, and OS: php 7.2 on ubuntu

### Issue description

Is a few days, that sometimes in live mode, i see that error "Instrument declined", but i don't understand if for the version of that sdk, or because the customers had a problem on their bank account or

[2019-12-03 12:16] prakash-gangadharan commented on #1318
Hi @mdeprezzo, do you have more occurrence of this issue? if yes share the same with `PayPal-Debug-ID`

[2019-12-03 12:25] mdeprezzo commented on #1318
Sure, here the other debug id:

- 4b94a3145255f
- cbfca9e9cdd5d
- a5227872dabac
- 25752debf6ca3

[2019-12-03 13:41] Spreeuw commented on #1129
See #1262 for a more complete pull request for this feature

[2019-12-04 18:33] Sebi94nbg commented on #1203
@prakash-gangadharan is my above logic fine for handling these webhooks?

[2019-12-04 19:36] prakash-gangadharan commented on #1318
Hi @mdeprezzo,  I checked with internal product team and advised that these were primarily due to “INSUFFICIENT_FUNDS” response from the processor and these are valid and legit declines.

[2019-12-05 09:29] prakash-gangadharan commented on #1239
Hi @liedekef, do you still need a help for this issue?

[2019-12-05 09:32] prakash-gangadharan commented on #1309
@rorybot, am closing this issue out since I didn't hear back from you. Please revert us back if you face any challenges.

[2019-12-05 09:32] #1309 closed

[2019-12-05 09:34] liedekef commented on #1239
No, I'll close this.

[2019-12-05 09:34] #1239 closed

[2019-12-05 09:34] prakash-gangadharan commented on #1239
@liedekef Thanks!

[2019-12-05 15:47] FriendOfTheNight opened #1319 "Support for recipient_wallet and Venmo"
I'm wondering when the new recipient_wallet parameter will be added to the PayoutItem class so we can make payments to Venmo: https://developer.paypal.com/docs/payouts/features/payouts-to-venmo/.

[2019-12-06 08:39] mdeprezzo commented on #1318
@prakash-gangadharan ok thanks. I'm closing the issue. For now

[2019-12-06 08:39] #1318 closed

[2019-12-06 09:08] #1314 closed

[2019-12-06 09:17] prakash-gangadharan commented on #1308
Hi @yalmazkhalil , yes `1X431032H7986792A` is the merchant side transaction_id. It should be the same when you login in to the merchant account.

[2019-12-06 12:01] mharmonikas commented on #904
gfgfhfhf

[2019-12-06 12:01] mharmonikas commented on #904
fhf

[2019-12-07 16:16] thinkstudeo opened #1320 "Support for meta information while creating payment and more importantly with webhook event response"
### General information
 This is not an issue but a request.

The current webhook event response does not have provision to return any meta information.

It would be nice to have a property/field for meta information when the payment is created for eg:
[code]
maybe via a `setMeta()`
[code]
And then when a webhook is subscribed for eg: `PAYMENT.CAPTURE.COMPLETED` the webhook event response returns

[2019-12-09 12:07] nicdnepr opened #1321 "PayPal get all transactions"
Hi
How can I get  PayPal all transactions and get not shipped transactions?
Is any examples?

[2019-12-09 19:14] WillBrubaker opened #1322 "PHP function `php_uname` blocked for security reasons"
* SDK/Library version: 1.14.0
* Environment: Both production and sandbox

### Issue description

The SDK uses `php_uname` here https://github.com/paypal/PayPal-PHP-SDK/blob/1.14.0/lib/PayPal/Common/PayPalUserAgent.php#L27-L28 which is blocked on some servers.

I would like to ask that you consider alternatives to `php_uname` to prevent failures. Thanks.

[2019-12-10 06:00] sucithrashanu commented on #1276
@unixconky

SDK don't have any specific API for getting account primary currency by email Id.

Thanks

[2019-12-10 06:03] sucithrashanu commented on #1322
@WillBrubaker
May I know in  which server  it's blocking?

Thanks

[2019-12-10 06:11] sucithrashanu commented on #1236
@punramesh
Please refer the below link for merchant technical support. 
[https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723](https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723)

Please v

[2019-12-10 06:16] sucithrashanu commented on #1321
@nicdnepr
Can  you give clear context about which transaction? is it for one time transaction or billing?

Thanks

[2019-12-10 06:19] #1308 closed

[2019-12-10 06:20] nicdnepr commented on #1321
Its about business selling account
Need get selling goods transactions

[2019-12-10 06:23] sucithrashanu commented on #1204
@osworx
Please check the [PayPal Community](https://www.paypal-community.com) and [MTS](https://paypal.com/mts)

Thanks

[2019-12-10 06:23] #1204 closed

[2019-12-10 06:27] sucithrashanu commented on #1165
@exzib @topwebstudio

Please check the [PayPal Community](https://www.paypal-community.com) and [MTS](https://paypal.com/mts)

Thanks

[2019-12-10 06:27] #1165 closed

[2019-12-10 09:13] #1146 closed

[2019-12-10 09:13] #1197 closed

[2019-12-10 12:20] aizaz-shahid opened #1323 "While activating plan using paypal-php-sdk receiving this error “Call to a member function toJSON() on array”"
This is my code as given in sdk samples:

`                 $patch = new Patch();

                    $value = new PayPalModel('{"state":"ACTIVE"}');

                    $patch->setOp('replace')
                        ->setPath('/')
                        ->setValue($value);
                    $patchRequest = new PatchRequest();
                    $patchRequest->addPatch($patch);

[2019-12-10 15:51] AlbertoSinigaglia opened #1324 "Transaction amount details (subtotal, tax, shipping) must add up to specified amount total: can't specify discount"
### General information

* SDK/Library version:
name     : paypal/rest-api-sdk-php
descrip. : PayPal's PHP SDK for REST APIs
keywords : payments, paypal, rest, sdk
versions : * 1.14.0
type     : library
license  : Apache License 2.0 (Apache-2.0) (OSI approved) https://spdx.org/licenses/Apache-2.0.html#licenseText
source   : [git] https://github.com/paypal/PayPal-PHP-SDK.git 72e2f2466975bf128a31e02

[2019-12-11 09:19] sucithrashanu commented on #1251
HI folks,

Please Check [PayPal Community](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)
Thanks!

[2019-12-11 09:19] #1251 closed

[2019-12-11 09:22] sucithrashanu commented on #1241
@4n70w4

Can you give clear context about this issue? OR recent PayPal-Debug-Id?

Thanks

[2019-12-11 09:24] sucithrashanu commented on #1213
@andrewtch

Do you still see this instances of this issue around? if yes please share us the recent PayPal-Debug-IDs to check further.

Thanks

[2019-12-11 09:27] sucithrashanu commented on #1195
@pscarapicchiajun @karms
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check [PayPal Community ](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)
Thanks!

[2019-12-11 09:27] #1195 closed

[2019-12-12 00:37] WillBrubaker commented on #1322
@sucithrashanu I don't know, I got this in a support ticket for a product that uses this library - the site experiencing the troubles is andyfronius.com

[2019-12-13 05:25] #1236 closed

[2019-12-13 05:27] #1276 closed

[2019-12-13 05:48] sucithrashanu commented on #1263
@surround3

Currently we do not have any stipulated timeline for the next version( v2.0.0 release), but it may be available in near future.
Kindly Check [PayPal Community](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)

Thanks!

[2019-12-13 05:48] #1263 closed

[2019-12-13 09:00] KingaTheWitch opened #1326 "Requirements and GetBillingAgreement.php"
### General information

* SDK/Library version: 1.14.0
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description
You give wrong requirements.
Your script doesn't work in PHP 5.3 due to low version of OpenSSL in curl library in PHP 5.3, it doesn't work in PHP 5.4.10 too (the same reason).

More over. You have a mistake in:
PayPal-PHP-SDK/sample/billing/

[2019-12-13 10:17] sai5839448 commented on #1129
😃

[2019-12-13 10:23] sai5839448 commented on #1168
Thank

[2019-12-13 11:26] AidasK opened #1327 "Disputes are not implemented"
I can see that paypal has some disputes rest endpoints available, but they are not implemented in this library. I saw they used to be included in v1 version, though they seem to be removed from PayPal-PHP-SDKv2. Any info why these endpoints are not supported by this library?

[2019-12-14 14:26] Sebi94nbg commented on #1203
@prakash-gangadharan your feedback is required. I would like to finish the implementation. :)

[2019-12-17 06:01] prakash-gangadharan commented on #1324
Hi @AlbertoSinigaglia  refer this comment : https://github.com/paypal/PayPal-PHP-SDK/issues/908#issuecomment-320291229
Try adding  a line item with a negative amount.

Similar issue : https://github.com/paypal/PayPal-PHP-SDK/issues/908

[2019-12-17 06:25] sucithrashanu commented on #1180
@CaptainHypertext

Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check [PayPal Community ](https://www.paypal-community.com)and  [MTS]( https://paypal.com/mts)

Thanks!

[2019-12-17 06:25] #1180 closed

[2019-12-17 22:23] dakiesse commented on #1267
I have the same issue. I am using @paypal/checkout-server-sdk

[2019-12-18 05:14] prakash-gangadharan commented on #1267
Hi @dakiesse, Please help us with the recent `PayPal-Debug-ID`

[2019-12-18 05:49] prakash-gangadharan commented on #1321
Hi @nicdnepr can you help us with some sample transactions?

[2019-12-18 05:51] prakash-gangadharan commented on #1270
Hi @adam-laraqui, this is not reproducible and please reopen if it still exists.

[2019-12-18 05:51] #1270 closed

[2019-12-19 05:50] #1241 closed

[2019-12-19 05:58] sucithrashanu commented on #1046
@usenetCoder

Currently we do not have any stipulated timeline for the new SDK release, but it may be available in near future.

Please Check [PayPal Community](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)
Thanks!

[2019-12-19 05:58] #1046 closed

[2019-12-19 12:51] KingaTheWitch commented on #1107
Instead:
`$bodyReceived = file_get_contents('php://input');`
Should be:
`$requestBody = file_get_contents('php://input');`

[2019-12-19 15:25] #1324 closed

[2019-12-20 05:43] prakash-gangadharan commented on #1188
@mavinothkumar refer the below example where Payment::all() method will get the one time payments
[ListPayments](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/payments/ListPayments.php)
It is a wrapper for [List payments API](https://developer.paypal.com/docs/api/payments/v1/#payment_list)

[2019-12-20 05:43] #1188 closed

[2019-12-20 05:46] prakash-gangadharan commented on #1321
@nicdnepr refer the below example where Payment::all() method will get the one time payments
sample : [ListPayments](https://github.com/paypal/PayPal-PHP-SDK/blob/master/sample/payments/ListPayments.php)
It is a wrapper for [List payments API](https://developer.paypal.com/docs/api/payments/v1/#payment_list)

[2019-12-20 07:13] sucithrashanu commented on #1322
@WillBrubaker
If we know which server it will be helpful for proceed with the issue to give solution.

Thanks

[2019-12-20 07:16] #1213 closed

[2019-12-20 07:19] sucithrashanu commented on #1168
@devreena03

Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check [PayPal Community](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)

Thanks!

[2019-12-20 07:19] #1168 closed

[2019-12-20 08:33] deepakmaurya opened #1328 "Fatal error when running on PHP 7.3"
### General information

* SDK/Library version: 1.14.0
* Environment: Both
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description
Getting Fatal error on this file with PHP 7.3
paypal/rest-api-sdk-php/lib/PayPal/Core/PayPalConfigManager.php:104

**Error**
strstr(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preser

[2019-12-20 09:28] sucithrashanu commented on #1327
@AidasK

Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check [PayPal Community](https://www.paypal-community.com) and  [MTS](https://paypal.com/mts)
Thanks!

[2019-12-20 09:28] #1327 closed

[2019-12-20 10:24] AidasK commented on #1327
Maybe you should leave it open, because disputes api should be implemented at some point imo

[2019-12-20 10:29] dakiesse commented on #1267
Hi @prakash-gangadharan, I solved this issue =)

[2019-12-20 10:58] prakash-gangadharan commented on #1327
similar enhancement : https://github.com/paypal/PayPal-PHP-SDK/issues/746

[2019-12-20 10:58] prakash-gangadharan commented on #746
Similar request : https://github.com/paypal/PayPal-PHP-SDK/issues/1327

[2019-12-20 11:19] xjijies commented on #1291
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.
Please Check PayPal Community (https://www.paypal-community.com )and MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:19] #1291 closed

[2019-12-20 11:20] xjijies commented on #1149
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.
Please Check PayPal Community (https://www.paypal-community.com )and MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:20] #1149 closed

[2019-12-20 18:37] 01GOD opened #1329 "WHERE are the ACTUALLY USEFUL example scripts such as an “A customer bought something, send an email to the seller” script?"
Seriously...this repo makes it look like Paypal's API department has its head so far up its own Paypal-speak arse that it forgot that the API is FOR CUSTOMERS!!!

Customers don't want to study internal Paypal software jargon for a month and get an associates degree in Paypal API to make a simple PHP script that sends an email to the seller containing the buyer's name and email address after the bu

[2019-12-20 19:53] Dianne1404 opened #1330 "I see the same issue in Firefox and Chrome, but not in Opera"
I see the same issue in Firefox and Chrome, but not in Opera

_Originally posted by @jwarhs in https://github.com/paypal/paypal-checkout-components/issues/1230#issuecomment-567812183_

[2019-12-23 08:22] KingaTheWitch opened #1331 "Big delay of first payment in billing agreement executed on morning CET."
### General information

* SDK/Library version: 1.14.0
* Environment: Sandbox
* `PayPal-Debug-ID` values: I-A2W67K1NURCK (sandbox)
* Language, language version, and OS: PHP

### Issue description

I have noticed that, when I create and execute an agreement in sandbox on early hours CET (Central European Time) for example on 8 o'clock CET. I have to wait a FEW HOURS for the first payment. When I ma

[2019-12-23 09:24] #1321 closed

[2019-12-23 09:35] prakash-gangadharan commented on #1331
Hi @KingaTheWitch, Can you please check with the [MTS](https://paypal.com/mts) since this is more related to the billing flow/product.

[2019-12-23 14:34] KingaTheWitch opened #1332 "Which time zone is used in start date in create billing agreement?"
### General information

* SDK/Library version: not applicable
* Environment: not applicable
* `PayPal-Debug-ID` values: not applicable
* Language, language version, and OS: not applicable

### Issue description

It is required to set the start date during create billing agreement. But what kind of date/time should it be? UTC date/time, user date/time with time zone (+xx.00), user date without tim

[2019-12-24 06:09] prakash-gangadharan commented on #1332
similar issue : https://github.com/paypal/PayPal-PHP-SDK/issues/1331

[2019-12-24 06:09] prakash-gangadharan commented on #1331
Similar query  : Which time zone is used in start date in create billing agreement? #1332

[2019-12-24 06:09] #1332 closed

[2019-12-26 06:42] prakash-gangadharan commented on #1331
Hi @KingaTheWitch the start date should be in ISO date time format which mandates the time zone.
You may want to refer to the dev doc  for the start date in create agreement section : https://developer.paypal.com/docs/api/payments.billing-agreements/v1/

[2019-12-27 05:49] #1331 closed

[2019-12-27 05:57] prakash-gangadharan commented on #1329
You might have a glance at these examples : https://github.com/paypal/PayPal-PHP-SDK/tree/master/sample and also here http://paypal.github.io/PayPal-PHP-SDK/sample/

[2019-12-27 05:57] #1329 closed

[2019-12-27 18:22] sai5839448 commented on #1323
ok

[2019-12-28 04:21] sai5839448 commented on #1323
ok

[2020-01-08 05:44] WillBrubaker commented on #1322
@sucithrashanu this is everything I know:

Server Info: nginx/1.17.5
PHP Version: 7.3.12-1+ubuntu16.04.1+deb.sury.org+1
PHP Post Max Size: 2 GB
PHP Time Limit: 20
PHP Max Input Vars: 10000
cURL Version: 7.47.0
OpenSSL/1.0.2g

SUHOSIN Installed: –
MySQL Version: 5.5.5-10.2.29-MariaDB-10.2.29+maria~xenial-log
Max Upload Size: 2 GB
Default Timezone is UTC: ✔
fsockopen/cURL: ✔
SoapClient: ✔
DOMDocumen

[2020-01-15 10:24] bt-bigfish opened #1333 "Billing Agreements endpoints are deprecated"
Hi,

In Docs (https://developer.paypal.com/docs/api/payments.billing-agreements/v1/) looks like endpoints are deprecated after April 2019. Could you tell me any information when will update PHP SDK?

Thank you!

[2020-01-21 13:07] d3-anton-trokhymenko commented on #1333
Faced the same problem.

[2020-02-05 14:10] PupilaBIZ commented on #737
I have the same problem.
![image](https://user-images.githubusercontent.com/42183569/73849111-1788c900-4808-11ea-9165-eae395ddf198.png)

[2020-02-05 14:14] PupilaBIZ opened #1335 "Composer install problems"
Hi.
When try to install PayPal SDK via Composer, the system inform an error.
![image](https://user-images.githubusercontent.com/42183569/73849379-967e0180-4808-11ea-8ec8-1967b7c5acae.png)

[2020-02-06 21:54] Cankar001 commented on #1189
I am currently trying to achieve that too but with raw php, i am stuck because I don't know how to trigger the event?

[2020-02-09 18:02] galexmay opened #1336 "Contact Info - Phone Number - Guest Checkout - Missing"
I am trying to pass my customer's phone number to populate the field in the guest checkout but no matter where I put it, it seem to be ignored. This is the code that I am using.

`
$addr1="First line of address AM";
$addr2="Second line of address AM";
$city="City AM";
$postcode="GL1 5LA";
$email="am@test.com";
$first_name="First name AM";
$last_name="Surname AM";
$phone="012345678890";

$baseaddre

[2020-02-10 10:53] ManishPalawat opened #1340 "Get Blank array when want to get all Payment details."
Here is my code::
[code]

[2020-02-11 15:08] exzib opened #1341 "Any examples on usage of Sale? To disable E-Check"
I am having issues with one of my clients where people are trying to scam using E-Checks, id like a way to disable this in the SDK.

I am currently using Payment to create an redirect to paypal etc, but I see that Sale.php has support for setPaymentMode to instant, how do i utilize this?

[2020-02-11 19:20] Mplunsford commented on #1162
Hi gpcaretti,

Can you post this method in php code?

var executedPayment = payment.Execute(apiContext, paymentExecution);
    // PaymentId ID is available here (only if the payment is completed):
    var paymentId = executedPayment.transactions[0].related_resources[0].sale.id;

Thanks,

[2020-02-14 23:50] carnesca commented on #504
@jiteshtandel are you still having this issue? Are you still using the solution you previously described?

[2020-02-15 10:21] jiteshtandel commented on #504
Actually, problem was in the Client's card. First, we resolved that card issue then after payment method is working smoothly. Card problem was very annoying but we resolved it.
I used the following configuration to charge the billing amount.

**Payment Definition**
name= Regular Payments
type=REGULAR
frequency=month
amount=10.00
currency=EURO

**Merchant Preferences**
return_url=https://mysitename

[2020-02-15 10:22] jiteshtandel commented on #1257
Check this link to my Payment Configuration for billing subscription.

https://github.com/paypal/PayPal-PHP-SDK/issues/504#issuecomment-586575729

[2020-02-17 07:24] ajaykumar97 commented on #1248
I am still having this issue. Getting same issue while proceeding after choosing the card for the payment. Please help!

[2020-02-19 08:03] Krishnankk commented on #1248
### Is there anybody still having the same issue,,,???

**For original PayPal payments.**

They temporarily charge your card a small amount. This is a regular fraud prevention measure, to ensure the card is valid. If your card issuer didn’t authorise the temporary charge, the card may be declined when you tried to make a payment using PayPal.

**For sandbox**

If you want to pay using your sandbox

[2020-02-19 08:19] gpcaretti commented on #1162
I don't use php. Just seen a couple of times in my life.

I remember it has objects as well. If so, it is only a matter of syntax.
Classes will be for sure the same.

Gianpiero

Il mar 11 feb 2020, 20:20 Mplunsford <notifications@github.com> ha scritto:

[2020-02-20 22:29] sergeyMarkov opened #1342 "How to pass an access token into ApiContext?"
Referencing to https://developer.paypal.com/docs/api/get-an-access-token-curl/ PayPal advices to re-use the access token until it expires and then get/generate a new token.

To reduce the number of requests (especially during the high load on the website) I would like to implement the usage of access token, but there are no examples how to implement it.

In other words -- $apiContext is usually ge

[2020-02-21 03:44] Mplunsford commented on #1162
Thank you for responding. I think I found it:

<?php
$pagecode=   "$transactions = $payment->getTransactions();
$related_resources = $transactions[0]->getRelatedResources();
$sale = $related_resources[0]->getSale();
$sale_id = $sale->getId();
\n";

LOL But, I still don't have a clue about how to use it!  I'm trying to populate a field in my payment form so I have the payment ID to enter into a ref

[2020-02-23 21:58] usamamashkoor commented on #1299
Hi, I am facing the same issue how can I set up my start date so that I can solve this issue?

[2020-02-23 23:32] jcardussi commented on #1299
I am not sure but I think I set it up for 30 days out and an immediate payment. Let me know if you are stuck.

[2020-02-24 11:13] manian-kumaran commented on #1187
It says that NVP/SOAP is deprecated on 1 Jan 2017.
The new Paypal Checkout does not support third party permission:
https://developer.paypal.com/docs/archive/permissions-service/

The paypal rest
https://developer.paypal.com/docs/api/rest-sdks/
points to github and they don't have much activity.

How do we use the third party permission
https://developer.paypal.com/docs/archive/permissions-service

[2020-02-24 18:22] usamamashkoor commented on #1299
@jcardussi Thanks I appreciate your help, I have solved the issue in case it was a description which was causing the issue.

Thanks again :)

[2020-02-25 21:05] nityaLNU opened #1343 "Paypal Express Integration-Servicer Side"
Hi Team,

I am trying to integrate paypal express with my server side application. I have included the javascript checkout.js and have modified the payment() method to call my server side mapping i.e. th ejava controller but wit does not work giving different exceptions as follows:

Approach 1:

Client side:

var url1 = "paypalexpress/starttransactiontest?productCode=123&qty=1&bundleNo=0&bundleTem

[2020-02-27 05:53] gopalsharmaiete commented on #570
The value of $paymentMethodId is not assigned, please assign first then run the script again

[2020-03-03 13:11] AneeqIftikhar opened #1345 "Got Http response code 500 when accessing https://api.sandbox.paypal.com/v1/oauth2/token"
It was just working fine 10 mins ago.

[2020-03-09 19:38] fasolano opened #1346 ""ORDERS" -- Got Http response code 404 when accessing"
### General information

* SDK/Library version:
* Environment: Sandbox and Production
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description
I got "Got Http response code 404 when accessing https://api.sandbox.paypal.com/v1/payments/orders/60355843MY413270N."

`$result = \PayPal\Api\Order::get($orderID, $apiContext);`

finding in the API documentation i found the

[2020-03-11 09:23] lordgretix commented on #1335
Hi,
Thats not a composer related problem, its a php version compatibility issue.
Check this: https://www.php.net/manual/es/migration73.incompatible.php#migration73.incompatible.core.continue-targeting-switch

[2020-03-19 05:47] soufianoxx opened #1347 "paypal send mony for multi account"
hello
i want make in my web site, users get mony for every post
andin the end of the month make transaction for all users "Every user takes money for how much post is written"

i want make that automaticly "with php "

any help ?

[2020-03-21 17:43] curiousteam commented on #1333
I have also faced the same problem. Maybe the PayPal-PHP-SDK is not being updated.

[2020-03-23 11:13] waynehaffenden commented on #1328
+1 Any update on this fix?

[2020-03-24 08:49] Leonigas opened #1349 "formatToPrice with 4 decimals"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Hello,

I have in my shop some items with 4 decimals prices (sometime 0.001). The minimum quantity of these kind of product is very large so I am always sure than the gran_total can be a 2 decimals number.

But the payment failed because of the pa

[2020-03-27 15:12] filgo opened #1350 "500 Internal Error on payment execution in Sandbox"
* SDK/Library version: 1.14
* Environment: Sandbox
* `PayPal-Debug-ID` values: 4ae664b29b09b
* Language, language version, and OS: PHP 5.6

### Issue description

Have been getting '500 internal errors'. Happens when trying to execute a payment. Sample error message:

ERROR: Got Http response code 500 when accessing
Got Http response code 500 when accessing: https://api.sandbox.paypal.com/v1/payme

[2020-03-29 06:59] emrancu opened #1351 "Can not create invoice"
error message:  "Got Http response code 401 when accessing https:\/\/api.sandbox.paypal.com\/v1\/invoicing\/invoices.

I have followed this  reference :
http://paypal.github.io/PayPal-PHP-SDK/sample/doc/invoice/CreateInvoice.html

[2020-04-02 08:02] Raphoon opened #1352 "Nothing in "agreement_transaction_list" after checking the transaction had been completed"
### General information

* SDK/Library version: 1.14.0
* Environment: Sandbox and also in Production

### Issue description

this is sandbox data

![image](https://user-images.githubusercontent.com/39745025/78224371-6babe300-7503-11ea-8c93-b32163208f00.png)

I checked that transaction had been completed but when I get the transaction lists by using

Agreement::searchTransactions function I got not

[2020-04-02 14:44] viktorivanov commented on #1352
This happened to me, too. Executing `Agreement::searchTransactions` method is returning empty `agreement_transaction_list` array.

[2020-04-03 05:35] Raphoon commented on #1352
I found that this function is related to api

[https://developer.paypal.com/docs/api/payments.billing-agreements/v1/#billing-agreements_transactions](url)

There is a notice that "/v1/payments/billing-agreements" endpoints are deprecated and they recommend to use "/v1/billing/subscriptions" instead.
But after using that url still got "RESOURCE_NOT_FOUND" error

[2020-04-03 06:00] viktorivanov commented on #1352
They are deprecated, but I'm supporting an app with legacy code which is not ready to be upgraded. And as far as I know, the Subscriptions API is not compatible with Billing Plans and Billing Agreements APIs.

[2020-04-03 08:57] WuboDev opened #1353 "Paid success, but the total is always cost $85"
### General information

* SDK/Library version: 1.14.0
* Environment: Both Sandbox and Production
* Language, language version, and OS: PHP 7.2 on Ubuntu 16.10

### Issue description

I have set the total to $1, but after paid, it always costs $85 ("shipping":"5","tax":"10","subtotal":"70" ), here's the codes:

[code]

And this is log

[code]

I have found everywhere, but not sure where the shippi

[2020-04-03 12:06] Raphoon commented on #1352
Does It mean that getting Transaction Id by using Agreement Id is impossible for now?

[2020-04-03 23:46] la5erdance commented on #1346
You did not solve the problem?

[2020-04-05 15:06] faiyazalam commented on #1333
@PayPalTeam, when will you update the PayPal-PHP-SDK?
I integrated the subscription using the current outdated SDK but not sure whether I should continue with this current SDK or integrate again from scratch using documentation.

[2020-04-09 06:45] viktorivanov commented on #1352
@Raphoon I think they finally fixed it!
This morning I was able to retrieve `agreement_transaction_list` data. Maybe you could try to see if it works on your side as well.

[2020-04-17 19:40] vijaykumarcme opened #1355 "Unable to test Live i.e Unable to generate access_token to test live"
Hello!
I'am new to paypal REST api.

Recently i have created paypal business account.

I have tested in sandbox it worked.

I followed this

https://developer.paypal.com/docs/api/get-an-access-token-curl/

I generated access_token using sandbox

`curl -v https://api.sandbox.paypal.com/v1/oauth2/token \
   -H "Accept: application/json" \
   -H "Accept-Language: en_US" \
   -u "client_id:secret" \

[2020-04-18 22:56] BaiMaoLi commented on #1269
yes. This is shit sdk.
Not working in live mode.

[2020-04-19 04:49] buttflattery commented on #1269
@BaiMaoLi  no it isnt and it works correctly if you dont pay attention, what is the problem you are having?

[2020-04-19 04:54] BaiMaoLi commented on #1269
Sorry for my rude,  I just deleted that comment.
It is working well.
I just made one mistake.
I used to use stripe, and in stripe, even though we don't capture payment, money deduct from buyer account and goes into merchant account, but just not captured.
But in paypal, only when captured, money goes into merchant account and ...

[2020-04-19 04:58] wilokecom opened #1356 "100% discount"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Hi,
I'm working on 100% discount code, but I can't use it with PayPal.
I added a line item Item and set negative to discount price, but when set 0 to Total, I got Amount cannot be zero

[2020-04-22 17:14] levelfivehub commented on #1046
Hi

Any updates on this issue?  I am also looking for /v1/customer integration

Thanks

[2020-04-23 06:33] Raphoon commented on #1352
Are you still able to get right data?

[2020-04-24 08:06] viktorivanov commented on #1352
Yes, it works as expected.

[2020-04-24 10:43] Raphoon commented on #1352
I think there should be some delay between payment and retrieving. request right after the payment still bring empty array. But after some seconds(almost a minute) it works right.

[2020-04-24 10:49] viktorivanov commented on #1352
For me on **sandbox mode** it has always been like this - around 4-5 minutes delay before the payment becomes available and the billing agreement state transitions from pending to complete. And I think during production transactions are almost immediately available and Billing Agreement doesn't have a pending status.

[2020-04-24 19:32] stell commented on #1203
Hey, I'm working on a similar thing and have the same questions you did. Did you get this working? Are the Webhooks triggering after every recurring payment or did you end up using the Subscription API from PayPal Plus?

[2020-04-26 02:12] imemohit commented on #1356
Hi,

Well, isn't that true? What will PayPal do if there is no transaction about to be made. You will just pay the fees? Maybe you can just make the paypal fee the amount then.

[2020-04-26 02:18] imemohit opened #1357 "What is the solution for recurring payments discounts?"
What is the solution for recurring payments discounts?
Recurring payments don't support multiple items.

_Originally posted by @DannyZB in https://github.com/paypal/PayPal-PHP-SDK/issues/55#issuecomment-167781467_

Trying to use Smart Buttons with the Rest API to generate tokens etc.

As multiple products aren't allowed in a subscriptions, how do we give the users a discount.

1. We can't add a ne

[2020-04-27 15:53] ArtNous commented on #1185
Hi guys, I'm facing the same issue, I have the correct credentials, so why is PayPal sending me that response?

[2020-04-28 10:58] amritms commented on #1351
@emrancu did you find solution?

[2020-04-28 14:19] emrancu commented on #1351
No dear.

Regards,

MD AL EMRAN HOSSEN

Software Developer
01766603578
http://alemran.me
https://github.com/emrancu
https://www.facebook.com/alemran.c <https://www.facebook.com/alemran.cu>u

<https://www.facebook.com/alemran.cu>[image: --]

On Tue, Apr 28, 2020 at 4:58 PM Amrit Man Shrestha <notifications@github.com>
wrote:

[2020-04-28 14:35] amritms commented on #1351
How did you manage? I mean what alternative did you take? Or did you go with CURL route? Any direction would be helpful.

Thanks in advance.

[2020-04-28 14:49] HadiNiazi commented on #1185
it was because i am sending two individual HTTPHEADERS instead of one, and the result is to overwrite one another. So the correct way to do it, is to pass an array in the third arguments of HTTPHEADER like this:

`curl_setopt($ch2, CURLOPT_HTTPHEADER , array("Content-Type: application/json", "Authorization: Bearer myaccesstokenishere"));`

After that i still had the problem:
ppxo_no_token_passed_t

[2020-04-28 15:12] emrancu commented on #1351
I hang up the project.

[2020-04-30 12:28] MwSpaceLLC opened #1359 "Managed Accounts API / V1"
### General information
Hi There 👋

We have this request to see if the library supports this type of interface.
We know it is under development but we would need to integrate it in our project we are writing understanding how to populate the tables and the infrastructure of the system.

The example of bee management We found it in [THIS PAGE](https://developer.paypal.com/docs/api/managed-accounts/

[2020-05-01 12:19] DevJMD commented on #1356
You'd need to implement an "Order" as a discount-only order in your code rather than leverage PayPal to process it. There's no need for PayPal in this instance. Just take PayPal out of the equation and you have a 100% discounted order. :-)